 
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }
  
  .search_group {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .search_group .ul_wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    background-color: #202b33;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
  }
  .search_group .ul_wrapper ul {
    padding-bottom: 4px;
  }
  .search_group .ul_wrapper ul li {
    padding: 2px 8px;
    line-height: 18px;
    background-color: #202b33;
    cursor: pointer;
    color: #fff;
  }
  .search_group .ul_wrapper ul li:nth-child(1) {
    margin-top: 4px;
  }
  .search_group .ul_wrapper ul li:hover {
    background-color: #666;
  }
  .headerTipStyle {
    height: 17px;
    line-height: 16px;
    padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    font-size: 12px;
    text-align: center;
    background-color: #ffc000;
    color: #000;
    top: 30px;
    display: none;
  }

  .cross_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
  }
  .dataset .node {
    cursor: pointer;
  }
  .dataset .node text,
  .dataset .more text {
    font: 10px sans-serif; /* 10/16 */
    stroke: none;
    fill: #fff;
  }
  .datasetTip {
    stroke: #293742;
    stroke-width: 1;
    fill-opacity: 0;
    stroke-opacity: 1;
    fill: #13181b;
  }
  .datasetTipText {
    fill-opacity: 1;
    fill: #fff;
    -webkit-transition: fill-opacity 0.5s;
    -moz-transition: fill-opacity 0.5s;
    -o-transition: fill-opacity 0.5s;
    transition: fill-opacity 0.5s;
  }
  .datasetTipTextHide {
    fill-opacity: 0;
  }

  .dst_content p {
    font-size: 14px;
    line-height: 3em;
    text-align: center;
    padding-left: 0.5em;
  }
  #dataset_save_tip .dst_footer {
    width: 100%;
    height: auto;
    float: left;
  }
  .dst_footer label {
    font-size: 12px;
    display: inline-block;
    line-height: 26px;
    margin: 0.7em 0.6em 0.6em;
  }
  .dst_footer button {
    float: right;
  }
  svg {
    cursor: default;
  }
  svg:not(.active):not(.ctrl) {
    cursor: crosshair;
  }
  .time_axis .tick text,
  .legendTitle {
    fill: #fff;
  }
  .topo_network {
    background-color: #181b21;
  }
  .tool-parent-right {
    padding: 0 0 0 0;
  }
  .thumbnail_small {
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .gbox {
    cursor: pointer;
  }
  .thumbnail_big {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
  }
  .thumbnail_big:before {
    font-size: 16px;
  }
  .brushRect:hover {
    cursor: pointer;
  }
  #topo_mapMoveBar:hover {
    cursor: pointer;
    color: #f00;
  }
  g.node:hover,
  .topoMenu:hover,
  .topoMenu_one:hover,
  .topoMenu_two:hover,
  .topoMenu_three:hover {
    cursor: pointer;
  }
  .nodes_select {
    stroke-width: 5px;
  }
  .clear {
    clear: both;
  }
  line {
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 2px;
  }
  .pie text {
    fill: #fff;
    font-weight: bold;
  }
  path.linktext {
    cursor: pointer;
  }
  .resolved {
    stroke-dasharray: 0, 2 1;
  }
  path.link.resolved {
    stroke-dasharray: 0, 2 1;
  }
  path.overlay {
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  /* g.node.selected circle,
  g.node.filtered circle {
    filter: url("#blue-glow");
  } */
  path.links.hidden {
    stroke-width: 0;
  }
  path.dragline {
    stroke-width: 1px;
    stroke: #626b73;
  }
  .relationSvg text {
    font: 12px "微软雅黑";
    pointer-events: none;
    fill: #fff;
  }
  .relationSvg textPath {
    fill: #fff;
  }
  text.shadow {
    stroke: none;
    stroke-width: 3px;
    stroke-opacity: 0.8;
  }
  .topoMenu_inring {
    stroke-width: 1px;
    fill: #202b33;
    stroke: #020511;
  }
  .topoMenu_inring_over {
    fill: #27657a;
  }
  .topoMenu_inring_enter {
    fill: #2da5da;
  }
  .topoMenu_inring_enter_nouse {
    fill: #b6b4b4;
  }
  .topoMenu_inring_onmenu {
    fill: #2da5da;
  }
  .topoMenu_outring {
    fill: #020511;
  }
  .topoMenu_outring_over {
    fill: #2da5da;
  }
  .toponode_text {
    fill: #fff;
  }
  .brush .extent,
  .topo_brush .extent {
    fill: #2da5da;
    stroke-width: 0;
    fill-opacity: 0.15;
    shape-rendering: crispEdges;
  }
  .topo_brush .extent {
    stroke: #2da5da;
    stroke-width: 2px;
    fill-opacity: 0.3;
  }
  .resize rect {
    visibility: visible;
    stroke: #2da5da;
    stroke-width: 2px;
  }
  .time_selected {
    fill: #2da5da;
  }
  .time_axis path,
  .time_axis line {
    fill: none;
    stroke: #6c7881;
    shape-rendering: crispEdges;
  }
  .timeline-axis path,
  .timeline-axis line {
    fill: none;
    stroke: #6c7881;
    shape-rendering: crispEdges;
  }
  .time_axis text,
  .timeline-axis text {
    font-family: sans-serif;
    font-size: 11px;
  }
  .dot {
    stroke: #000;
  }
  .legend {
    padding: 5px;
    -webkit-box-shadow: 2px 2px 1px #888;
    box-shadow: 2px 2px 1px #888;
  }
  #topology_timeline {
    width: 100%;
    height: 150px;
  }
  .event_selected {
    width: 100px;
    position: absolute;
    top: 13px;
    left: 20px;
  }
  .axisList {
    white-space: nowrap;
    width: auto;
    position: relative;
    cursor: pointer;
  }
  .nodetext {
    fill: #fff;
  }
  .datasetTip {
    stroke: #293742;
    stroke-width: 1;
    fill-opacity: 0.000001;
    stroke-opacity: 1;
    fill: #13181b;
  }
  .datasetTipText {
    fill-opacity: 1;
    fill: #fff;
  }
  .datasetTipTextHide {
    fill-opacity: 0.000001;
  }
  #topology_timeline_axis {
    width: 90%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 140px;
  }
  .way_error,
  .r_errors,
  .nodes_error,
  .relation_error {
    font-size: 14px;
    color: #33d0ff;
    margin-left: 20px;
    display: inline-block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  .r_errors {
    position: absolute;
    top: 48px;
    right: 115px;
  }
  #save_screenShot_modalBox > h4 {
    margin-top: 10px;
    color: #33d0ff;
    font-size: 16px;
  }
  .event_selected p#event_title {
  /*  margin-left: -10px;*/
    font-size: 16px;
    color: #fff;
  }
  .event_selected p#event_title:hover {
    cursor: pointer;
  }
  .event_selected i#event_icon {
    display: inline-block;
    margin-right: 5px;
    line-height: 10px;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    color: #fff;
  }
  .forceText {
    stroke: none;
  }
  .pathcolors {
    position: absolute;
    top: 53px;
    left: 60px;
  }
  .path_colors {
    position: absolute;
    top: -4px;
    left: 110px;
  }
  .pathstyle {
    position: absolute;
    top: 5px;
    left: 60px;
  }
  .pathsWork {
    display: none;
  }
  .path_style {
    position: absolute;
    top: -5px;
    left: 110px;
    width: 35px;
    height: 50px;
  }
  .path_width text:hover {
    color: #33d0ff;
  }
  .pathwidth {
    position: absolute;
    top: 80px;
    left: 32px;
  }
  .path_width {
    position: absolute;
    top: 25px;
    left: 110px;
  }
  /*可能的路径模态框*/
  
  /*******主要内容从这里开始******/
  
  #topo_network {
    width: 100%;
    height: 100%;
  }

  /*时间轴样式*/
  #topology_relative_timeline {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 2px #202b33 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #181b21;
    z-index: 100;
  }
  #topology_timeline_taggle {
    position: absolute;
    top: -24px;
    left: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #202b33;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
  }
  #topology_timeline_taggle:before {
    font-size: 20px;
  }
  #topology_timeline_box {
    width: 100%;
    height: 145px;
  }
  /*右边信息样式#181b21*/
  
  /*遮罩层*/

  .closeDetailBox {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .showLinkList {
    width: 100%;
    height: 1px;
    margin: 20px auto;
    background-color: #293742;
  }
  .timeline-layout {
    width: 100%;
    height: 130%;
    background-color: #181b21;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
  }
  .timeLinesvgBox {
    width: 88%;
    height: 68%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .closeTimelineBox {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -12px;
    right: 43%;
    z-index: 100;
  }
  .timeLineFilter {
    width: 12%;
    height: 68%;
    position: absolute;
    top: 60px;
    right: 10px;
    border-left: 1px solid #6c7881;
    border-top: 1px solid #6c7881;
  }
  .titleFilter {
    position: absolute;
    top: 36px;
    right: 3%;
    color: #33d0ff;
    font-size: 16px;
  }
  .lists {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 110px;
    right: 0;
  }
  .myRadio {
    padding: 10px 0 5px 0;
  }
  .myRadio p {
    padding: 0 0 0 10px;
  }
  .radiocomponent {
    display: inline-block;
  }
  .choseDirection {
    width: 100px;
    color: #33c5f4;
    font-size: 14px;
    margin-right: 60px;
    margin-left: 15px;
    padding-left: 5px;
    display: inline-block;
    cursor: pointer;
  }
  .choseDirection p {
    color: #fff;
  }
 
  .timeLineLayout {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }


  /*搜索框样式*/

#analytic-search-module {
  position: absolute;
  top: 70px;
  left: 60px;
  width: 250px;
  /* height: 450px; */
  display: none;
  background-color: #181b21;
  z-index: 99;
}



.map_selectDiv {
  width: 330px;
  height: 50px;
}
.map_select_input_div {
  float: left;
  width: 200px;
  height: 35px;
}
.map_select_btn_div {
  float: left;
  height: 43px;
  width: 100px;
  overflow: hidden;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -ms-transition: width 0.5s;
  transition: width 0.5s;
}
.map_select_btn {
  width: 82px;
  height: 34px;
  margin-top: 5px;
  /* margin-left: 10px; */
  font-size: 14px;
  border: 0;
  text-align: center;
  line-height: 33px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -ms-transition: width 0.5s;
  transition: width 0.5s;
  background-color: #202b33;
}
.map_select_btn .left_top1,
.map_select_btn .left_top2,
.map_select_btn .right_top1,
.map_select_btn .right_top2,
.map_select_btn .right_bottom1,
.map_select_btn .right_bottom2,
.map_select_btn .left_bottom1,
.map_select_btn .left_bottom2 {
  height: 10px;
  width: 1px;
  border-right: 1px solid #33d0ff;
}
.map_select_btn .left_top1 {
  float: left;
  margin-top: -2px;
  margin-left: 0;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.map_select_btn .left_top2 {
  float: left;
  margin-top: -4px;
  margin-left: 0;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.map_select_btn .right_top1 {
  float: right;
  margin-right: 0;
  margin-top: -2px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.map_select_btn .right_top2 {
  float: right;
  margin-right: 0;
  margin-top: -4px;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.map_select_btn .right_bottom1 {
  float: right;
  margin-top: 26px;
  margin-right: -2px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.map_select_btn .right_bottom2 {
  float: right;
  margin-top: 28px;
  margin-right: 0;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.map_select_btn .left_bottom1 {
  float: left;
  margin-top: 26px;
  margin-left: -2px;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.map_select_btn .left_bottom2 {
  float: left;
  margin-top: 28px;
  margin-left: 0;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.icon-gis-button .path1:before {
  left: 102%;
}
.icon-gis-button span:before {
  position: absolute;
  top: 4px;
  left: 128%;
  font-size: 38px;
}
.iconspecial2 span:before {
  position: absolute;
  top: 4px;
  left: 156%;
  font-size: 38px;
}
.iconspecial2 .path1:before {
  left: 130%;
}
.icon-gis-button span:nth-child(6) {
  position: absolute;
  top: 17px;
  left: 108%;
}
.iconspecial2 span:nth-child(6) {
  position: absolute;
  top: 17px;
  left: 134%;
}
#map_select_input {
  width: 180px;
  height: 35px;
  margin-top: 5px;
  font-size: 12px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #202b33;
  color: #fff;
  border-width: 0 !important;
}
.map_select_resultDiv {
  width: 250px;
  height: 0;
  overflow: hidden;
  background-color: #293742;
  -moz-opacity: 0.88;
  -khtml-opacity: 0.88;
  opacity: 0.88;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
  filter: alpha(opacity=88);
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -ms-transition: height 0.2s;
  transition: height 0.2s;
}
.map_select_resultDivSmall {
  width: 250px;
  height: 0;
  overflow: hidden;
  background-color: #202b33;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  text-align: center;
  line-height: 42px;
  font-size: 12px;
  color: #33d0ff;
}
.mapselectTypeDiv {
  height: 30px;
  width: 250px;
  margin-top: 15px;
  background-color: #344450;
}
.mapEntityTypeJX {
  height: 30px;
  padding-top: 5px;
  float: left;
  color: #202b33;
  background-color: #344450;
}
.mapselectType {
  float: left;
  width: 107px;
  overflow: hidden;
  text-align: center;
  line-height: 28px;
  background-color: #344450;
  height: 30px;
  font-size: 14px;
/*color : $gis-select-search-font-color;*/
  cursor: pointer;
  border: 0;
}
.mapResultPanel {
  height: 100px;
  border-bottom: 1px solid #41525e;
  margin-left: 15px;
  margin-right: 15px;
}
.mapResultPanelIn {
  height: 90px;
  overflow: hidden;
  white-space: nowrap;
}
.mapResultPanelIn:hover {
  border-bottom: 1px solid #41525e;
  margin-left: -15px;
  background-color: #41525e;
  position: relative;
  height: 100px;
  width: 250px;
  overflow-y: auto;
}
.mapResultPanelIn:hover .mapSelectMsgDivDocument {
  overflow-y: auto;
  height: auto;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  white-space: pre-wrap;
}
.mapResultPanelIn::-webkit-scrollbar {
  width: 6px;
}
.mapResultPanelIn::-webkit-scrollbar-track {
  border-radius: 5px;
  height: 50px;
  background: rgba(255,255,255,0);
}
.mapResultPanelIn::-webkit-scrollbar-thumb {
  background: #41525e;
  border-radius: 4px;
}
.mapResultPanelIn:hover span {
  color: #33d0ff;
}
#mapSelectResult {
  height: 500px;
  overflow: overlay;
}
#mapSelectResultPage {
/*height:25px;*/
  margin-top: 15px;
  width: 250px;
  text-align: center;
}
#mapSelectResultPage a,
#mapSelectResultPage span {
  padding: 2px 2px;
  font-size: 12px;
  background: #212b34;
  color: #a9b6c1;
  border: 1px #273139 solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapSelectResultPage a:focus {
  padding: 4px 12px;
  font-size: 14px;
  background: #33d0ff;
  color: #a9b6c1;
  border: 1px #273139 solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#mapSelectResultPage a {
  cursor: pointer;
  text-decoration: none;
}
#mapSelectResultPage span {
  cursor: default;
  margin-top: 5px;
}
.prev {
  margin-right: 10px;
}
.next {
  margin-left: 10px;
}
#searchlist_pagination .current {
  background: #33d0ff;
  color: #fff;
}
#searchlist_pagination .btnactive {
  cursor: default;
}
.selectMapType {
  color: #33c7f5;
}
.noselectMapType {
  color: #fff;
}
.mapResultPanelbackground {
  background-color: #33c7f5;
}
.nomapResultPanelbackground {
  background-color: rgba(0,0,0,0);
}
.mapSelectResultImg {
  display: inline-block;
  margin-top: 15px;
  margin-right: 8px;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: #202b33;
}
.iconSpecial:before {
  color: #484e53;
  font-size: 43px;
}
.mapSelectResultImg img {
  width: 68%;
  height: 88%;
}
.mapSelectResultOne {
  margin-top: 15px;
  height: 80px;
}
.mapSelectMsgDiv {
/*height:25px;*/
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.mapSelectMsgDivPerson {
  height: 25px;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.mapSelectMsgDivTwo {
/*height:50px;*/
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.mapSelectMsgDivTwoEvent {
  height: 75px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.mapSelectMsgDivDocument {
  height: 25px;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  cursor: pointer;
}
.mapSelectMsg {
  width: 33%;
  height: 25px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.mapSelectMsgTwo {
  width: 50%;
  height: 30px;
  line-height: 30px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
}

.mapSelectMsgOne {
  width: 90%;
  height: 30px;
  line-height: 30px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
}