<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>jqGrid 实例</title>
		<link rel="stylesheet" href="./css/ui.jqgrid.css" /><!-- jqGrid组件基础样式包-必要 -->
		<link rel="stylesheet" href="./css/css/cupertino/ngm-theme.css" /><!-- jqGrid主题-->
		<link rel="stylesheet" href="../layui/layui.css" />
		<link rel="stylesheet" href="../layui/formSelect/formSelects-v4.css" />

		<script src="../../assets/jquery-3.3.1.min.js"></script><!-- jquery插件包-必要 -->

		<script defer type="text/javascript" src="../../Components.js"></script>
		<script type="text/javascript" src="./js/jquery.jqGrid.src.js"></script><!-- jqGrid插件包-必要 -->



		<!-- 在./js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
		<script type="text/javascript" src="./js/i18n/grid.locale-cn.js"></script>
	</head>

	<body>

		<div class="example">
			<div>
				<div style="width: 400px; display: inline-block; vertical-align: top;">
					<select name="city" xm-select="select1">
						<option value="1" disabled="disabled">北京</option>
						<option value="2" selected="selected">上海</option>
						<option value="3">广州</option>
						<option value="4" selected="selected">深圳</option>
						<option value="5">天津</option>
					</select>
				</div>
				<button class="layui-btn layui-btn-normal example-show-code">查看代码</button>
			</div>
		</div>

		<button id="byname">分组by：name</button>
		<button id="bynameNote">分组by：name，note</button>
		<button id="removeFZ">取消分组</button>
		<table id="list451"></table>
		<div id="pager451"></div>

		<script type="text/javascript" src="../layui/layui.js"></script>
		<script type="text/javascript" src="../layui/formSelect/formSelects-v4.js"></script>
		<script>
			$(function() {
				pageInit();

				$("#byname").on('click', function() {
					jQuery("#list451").jqGrid('groupingGroupBy', 'name');
				});

				// 				let gc = {
				// 					groupField : ['name'],
				// 					groupText : ['name = '+'<b>{0}</b>']
				// 				}

				$("#bynameNote").on('click', function() {
					//jQuery("#list451").jqGrid('groupingGroupBy',['name','note']);
					jQuery("#list451").jqGrid('groupingGroupBy', ['name', 'note'], function() {
						return {
							groupField: ['name', 'note'],
							groupText: ['name = <b>{0}</b>', 'note = <b>{0}</b>']
						}
					}());
				});

				$("#removeFZ").on('click', function() {
					jQuery("#list451").jqGrid('groupingRemove', true);
				});
			});



			//jQuery("#48remote").jqGrid('navGrid','#p48remote',{add:false,edit:false,del:false});

			let config = {
				url: 'http://127.0.0.1:9600/user/getTableList',
				datatype: "json",
				colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
				colModel: [
					{name:'id',index:'id', width:55, editable:true, sorttype:'int',summaryType:'count', summaryTpl : '({0}) total'},
					{name:'invdate',index:'invdate', width:90, sorttype:'date', formatter:'date', datefmt:'d/m/Y'},
					{name:'name',index:'name', width:100},
					{name:'amount',index:'amount', width:80, align:"right", sorttype:'number',formatter:'number'},
					{name:'tax',index:'tax', width:80, align:"right",sorttype:'number',formatter:'number'},    
					{name:'total',index:'total', width:80,align:"right",sorttype:'number',formatter:'number', summaryType:'sum'},
					{name:'note',index:'note', width:150, sortable:false,editable:true}    
				],
				rowNum: 10,
				rowList: [10, 20, 30],
				height: 'auto',
				pager: '#p48remote',
				viewrecords: true,
				caption: "Grouping with remote data",
				grouping: true,
				groupingView: {
					groupField: ['name'],
					groupColumnShow: [true],
					groupText: ['<b>{0}</b>'],
					groupCollapse: false,
					
				}

			}


			function pageInit() {
				let ftable = Components().grid("#list451", config);
			}
		</script>

	</body>
</html>
