<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../Components.css" />
		<link rel="stylesheet" type="text/css" href="first.css" />
	</head>
	<body>
		

		


		<div class="header-line">
			Components 通用的颜色：
		</div>
		<div class="show-func">

			<div class="show-color">
				<div class="sc casia-primary" title="casia-primary">casia-primary</div>
				<div class="sc casia-normal" title="casia-normal">casia-normal</div>
				<div class="sc casia-warning" title="casia-warning">casia-warning</div>
				<div class="sc casia-danger" title="casia-danger">casia-danger</div>
			</div>

		</div>

		<div class="header-line">
			Components 通用的按钮：
		</div>
		<div class="show-func">
			<div class="show-btn">
				<div>
					<div class="casia-btn-primary" title="casia-btn-primary" >默认</div>
					<div class="show-btn-title">casia-btn-primary</div>
				</div>
				<div>
					<div class="casia-btn-normal"  title="casia-btn-normal"  >确定</div>
					<div class="show-btn-title">casia-btn-normal</div>
				</div>
				<div>
					<div class="casia-btn-warning" title="casia-btn-warning" >警告</div>
					<div class="show-btn-title">casia-btn-warning</div>
				</div>
				<div>
					<div class="casia-btn-danger"  title="casia-btn-danger"  >危险</div>
					<div class="show-btn-title">casia-btn-danger</div>
				</div>
			</div>
		</div>
		<div class="show-func">
			<div class="show-btn">
				<div>
					<div class="casia-angle-btn-primary" title="casia-angle-btn-primary" >默认</div>
					<div class="show-btn-title">casia-angle-btn-primary</div>
				</div>
				<div>
					<div class="casia-angle-btn-normal"  title="casia-angle-btn-normal"  >确定</div>
					<div class="show-btn-title">casia-angle-btn-normal</div>
				</div>
				<div>
					<div class="casia-angle-btn-warning" title="casia-angle-btn-warning" >警告</div>
					<div class="show-btn-title">casia-angle-btn-warning</div>
				</div>
				<div>
					<div class="casia-angle-btn-danger"  title="casia-angle-btn-danger"  >危险</div>
					<div class="show-btn-title">casia-angle-btn-danger</div>
				</div>
			</div>
		</div>
		<div class="show-func">
			<div class="show-btn">
				<div>
					<div class="casia-circle-btn-primary" title="casia-circle-btn-primary" >默</div>
					<div class="show-btn-title">casia-circle-btn-primary</div>
				</div>
				<div>
					<div class="casia-circle-btn-normal"  title="casia-circle-btn-normal"  >确</div>
					<div class="show-btn-title">casia-circle-btn-normal</div>
				</div>
				<div>
					<div class="casia-circle-btn-warning" title="casia-circle-btn-warning" >警</div>
					<div class="show-btn-title">casia-circle-btn-warning</div>
				</div>
				<div>
					<div class="casia-circle-btn-danger"  title="casia-circle-btn-danger"  >危</div>
					<div class="show-btn-title">casia-circle-btn-danger</div>
				</div>
			</div>
		</div>

		<div class="header-line">
			Components 通用的输入框：
		</div>
		<div class="show-func">
			<div class="show-btn">
				<div>
					<input type="text" class="casia-input" value="casia-input" />
				</div>

				<div>
					<textarea class="casia-area"> 多行文本框 </textarea>
				</div>
				 
			</div>
		</div>


		<div class="header-line">
			Components 通用的单选框 casia-radio，多选框： casia-checkbox   
		</div>
		<div class="show-func">
			<div class="show-btn">
				<div>
					<input type="checkbox" id="read" class="casia-checkbox" value="read"/> <label for="read" style="user-select: none;">读书</label>
					<input type="checkbox" id="study" class="casia-checkbox" value="study"/> <label for="study" style="user-select: none;">学习</label>
				</div>

				<div>
					<input type="radio" id="readradio" class="casia-radio" name="s" value="s1"/> <label for="readradio" style="user-select: none;">读书</label>
					<input type="radio" id="studyradio" class="casia-radio" name="s" value="s2"/> <label for="studyradio" style="user-select: none;">学习</label>
				</div>
				 
			</div>

			<div class="show-btn">
				<div>
					<div class="casia-btn-primary" title="casia-btn-primary" >
						<input type="checkbox" id="ds" class="casia-checkbox" value="study"/> 
						<label for="ds" style="user-select: none;">多选</label>
					</div>
					
				</div>

				<div>
					<div class="casia-btn-primary" title="casia-btn-primary" >
							<input type="radio" id="dan" class="casia-radio" name="dan" value="s1"/> 
							<label for="dan" style="user-select: none;">单选</label>
					</div>
				
				</div>
				 
			</div>
		</div>



		<div class="header-line">
			
		</div>
		<div class="show-func">
			<div class="show-btn">
				

				<div>
				
				</div>
				 
			</div>
		</div>


 

		<script type="text/javascript" src="../assets/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../Components.js"></script>
		<script type="text/javascript" src="first.js"></script>
	</body>
</html>
