<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../component.css" />
		<link rel="stylesheet" type="text/css" href="first.css" />
	</head>
	<body>
		<div>
			按钮通用的颜色：
		</div>

		<div class="show-color">
			<div class="sc c-primary">最初颜色</div>
			<div class="sc c-normal">默认颜色</div>
			<div class="sc c-warning">警告颜色</div>
			<div class="sc c-danger">报错颜色</div>
		</div>


		<script type="text/javascript" src="../assets/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../component.js"></script>
		<script type="text/javascript" src="first.js"></script>
	</body>
</html>
