.show-color {
  display: flex;
  flex-wrap: wrap;
}

.show-color .sc{
  width: 120px;
  height: 50px;
  margin: 20px;
  line-height: 50px;
  text-align: center;
}

.show-btn{
  display: flex;
  flex-wrap: wrap;
}

.show-btn>div{
  width: 20%;
  margin: 30px 0 ;
  text-align: center;
}

.show-btn .show-btn-title {
  margin: 10px 0 0 0;
}


.header-line {
  text-align: center;
  color: #fff;
  background: #33d0ff;
  font-size: 18px;
  margin: 20px;
  padding: 10px;
}

 

.show-func .sf{
  border: 1px solid gray;
  margin: 20px;
  padding: 10px;
}

.sf-title {
  height: 24px;
  line-height: 24px;
  text-align: left;
  color:#33d0ff;
}

.sf-content {
  line-height: 24px;
  text-align: left;
  
}

.sf-header {
  line-height: 24px;
  text-align: left;
  font-weight: 700;
  
}

