<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../Components.css" />
		<link rel="stylesheet" type="text/css" href="first.css" />
	</head>
	<body>
		


		<div class="header-line">
			Components 现有 工具方法 介绍：
		</div>
		<div class="show-func">

			<div class="sf">
					<div class="sf-title">Components.selectText()</div>
					<div class="sf-header">	禁止文字选择 </div>
			</div>

			<div class="sf">
					<div class="sf-title">Components.loadScriptPromise(url)</div>
					<div class="sf-header">	动态加载js  </div>
					<div class="sf-content">	@param url 需要加载的js文件路径  </div>
			</div>

			<div class="sf">
					<div class="sf-title">Components.getTime(time)</div>
					<div class="sf-header">	对时间的相关处理 </div>
					<div class="sf-content">	
						@param time  字符串 { '' | 'now' | 'day' | 'week' | 'month' | 'year' | 数字 }
						<br>''     ：当前日期，包含时分秒
						<br>'now'  ：当天
						<br>'day'  ：一天前
						<br>'week' ：一周前
						<br>'month'：一月前
						<br>'year' ：一年前
						<br>number ：number天前。  为负数的话，就是 n天后 
					</div>
			</div>

			<div class="sf">
					<div class="sf-title">Components.getData(urls, param, type, tradit)</div>
					<div class="sf-header">	使用promise对ajax接口的封装 </div>
					<div class="sf-content">	
							@param urls	   请求的url
							<br>@param param	 请求的参数
							<br>@param type	   请求的类型GET POST 等
							<br>@param tradit	 是否自动解析数组
					</div>
			</div>

			<div class="sf">
					<div class="sf-title">Components.getSearch(search)</div>
					<div class="sf-header">	解析search的值，转为json对象 </div>
					<div class="sf-content">
							@param search window.location.search
					</div>
			</div>

			<div class="sf">
				<div class="sf-title">Components.getCookie(search)</div>
				<div class="sf-header">	解析cookie的值，转为json对象 </div>
			</div>

			<div class="sf">
					<div class="sf-title">Components.CheckEmail()</div>
					<div class="sf-header">	邮箱监测 </div>
					<div class="sf-content">
							@param email 邮箱账号
					</div>
			</div>

			<div class="sf">
					<div class="sf-title">Components.checkIDCard()</div>
					<div class="sf-header">	身份证检测 </div>
					<div class="sf-content">
							@param card 身份证号
					</div>
			</div>

			<div class="sf">
				<div class="sf-title">Components.trim()</div>
				<div class="sf-header">	去除两侧空格 </div>
				<div class="sf-content">
						@param v 要处理的字符串
				</div>
			</div>

			<div class="sf">
				<div class="sf-title">Components.isIE()</div>
				<div class="sf-header">	检测是否是IE、Edge浏览器 </div>
			</div>

		</div>





		<div class="header-line">
				Components 现有 实例方法 介绍：
			</div>
			
			
			
			<div class="show-func">

				<div class="sf">
						<div class="sf-title">Components().BarChart.run(showId, data)</div>
						<div class="sf-header"> 组件-横向柱状图 </div>
						<div class="sf-content">	
								@param showId 放组件的盒子id
								<br>@param data	 现实的数据. 例子：<br>
								[{
									id:"111",
									name:"中国",
									number:1399
								},{
									id:"999",
									name:"中国2",
									number:999
								}]
						</div>
				</div>


				<div class="sf">
						<div class="sf-title">Components().PictureVirtual.run(showId, Img)</div>
						<div class="sf-header"> 图片虚化组件  -注意，现在要求 父盒子必须要有宽高~，后续有时间，在代码中优化下组件</div>
						<div class="sf-content">	
								@param showId 放组件的盒子id<br>
								@param Img	图片
						</div>
				</div>

				<div class="sf">
						<div class="sf-title">Components().PictureVirtual.run()</div>
						<div class="sf-header"> 图片虚化组件-通过class【picture-virtual】定义</div>
						<div class="sf-content">	
								父元素上设置  class="picture-virtual" data-src="imgurl" <br>
								运行： Components().PictureVirtual.run();  即可<br><br>
							
								若是动态加载的DOM元素，需要在元素加载完成后再次调用 run()
						</div>
				</div>


				<div class="sf" style="height: 517px;">
					<div class="sf-title">Components().loading(id,clean)</div>
					<div class="sf-header"> loading加载组件</div>
					<div class="sf-content">
						@param id 选填，需要加载的父元素  如果为空，则全页面覆盖的loading，不为空则为局部loading<br>
						@param {boolean} clean  选填； false清除loading，true和 空 ，添加loading<br>
						运行： Components().loading(参数)<br><br>
		
					</div>
					<div class="sf-demo" id="loading-demo">
						loading-demo
					</div>
					<div class="sf-demo" id="loading-demo2">
						loading-demo2
					</div>
				</div>


				<div class="sf" style="height: 337px;">
					<div class="sf-title">Components().alert(config)</div>
					<div class="sf-header"> 提示信息：alert弹框组件</div>
					<div class="sf-content">
						@param config 一个对象 or false ； 为false，去掉弹框<br>
						支持的字段有 <br>
						{<br>
							title:"弹框标题-支持html"<br>
							content:"弹框内容-支持html"<br>
							color:标题文字颜色<br>
							time:弹框过time时间后，隐藏<br>
						}<br>
						使用方式：<br>
						<em>Components().alert({ title:"标题", content:"弹框内容-支持html",color:'red' });</em> 
					</div>
					<br>
					<div class="casia-btn-normal" id="alert1">弹框1</div>
					
				</div>

			</div>


		<script type="text/javascript" src="../assets/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../Components.js"></script>
		<script type="text/javascript" src="first.js"></script>
	</body>
</html>
