/**
 * @fileoverview 组件-所有样式 使用时引入~~
 *
 * @author NGM
 * @version 1.0
 */

 
 /*barChart*/
 .common-showLineChart {
	padding: 10px;
}
.common-showLineChart-outLine {
	background-color: #e6e6e6;
	position: relative;
	height: 30px;
	margin: 8px 0;
}

.common-showLineChart-innerLine {
	height: 30px;
	position: absolute;
	width:0px;
	transition: width 2s;
}

.common-showLineChart-index, .common-showLineChart-title, .common-showLineChart-number {
	position: absolute;
	height: 100%;
	line-height: 30px;
}

.common-showLineChart-index {
	left: 5px;
	top: -5px;
	width: 28px;
	height: 28px;
	font-size: 12px;
	background-color: rgba(0,0,0,0);
	 
}
.common-showLineChart-index-background {
	position: absolute;
	width: 0;
	height: 0;
	border-width:30px 30px 30px 0;
	border-style:solid;
	/* border-color:red transparent transparent transparent; *//*透明 灰 透明 透明 */
	 
}

.common-showLineChart-title {
	left:30px;
	width: 78%;
	font-size: 14px;
}

.common-showLineChart-number {
	right:8px;
	font-size: 12px;
}

 /*barChart end*/