icomoon-font-path ?= "../../../fonts"

icon-active-line = "\e900"
icon-active-line-blue = "\e901"
icon-add = "\e902"
icon-align-justify = "\e903"
icon-align-justify-black = "\e904"
icon-amount = "\e905"
icon-angle-double-right = "\e906"
icon-angle-up = "\e907"
icon-area-statistics = "\e908"
icon-area-statistics-blue = "\e909"
icon-around-bright-path1 = "\e90a"
icon-around-bright-path2 = "\e90b"
icon-around-bright-path3 = "\e90c"
icon-around-bright-backup-path1 = "\e90d"
icon-around-bright-backup-path2 = "\e90e"
icon-around-bright-backup-path3 = "\e90f"
icon-around-bright-selected-path1 = "\e910"
icon-around-bright-selected-path2 = "\e911"
icon-around-bright-selected-path3 = "\e912"
icon-around-dark-path1 = "\e913"
icon-around-dark-path2 = "\e914"
icon-around-dark-path3 = "\e915"
icon-around-dark-backup-path1 = "\e916"
icon-around-dark-backup-path2 = "\e917"
icon-around-dark-backup-path3 = "\e918"
icon-around-dark-selected-path1 = "\e919"
icon-around-dark-selected-path2 = "\e91a"
icon-around-dark-selected-path3 = "\e91b"
icon-arrow_back = "\e91c"
icon-arrow-circle-down = "\e91d"
icon-arrow-circle-down-blue = "\e91e"
icon-arrow-circle-more-path1 = "\e91f"
icon-arrow-circle-more-path2 = "\e920"
icon-arrow-circle-up = "\e921"
icon-arrow-circle-up-blue = "\e922"
icon-arrow-detail = "\e923"
icon-arrow-double-top = "\e924"
icon-arrow-right = "\e925"
icon-arrows = "\e926"
icon-arrows-blue = "\e927"
icon-bank = "\e928"
icon-bar-chart = "\e929"
icon-bar-chart-blue = "\e92a"
icon-bayonet = "\e92b"
icon-bell = "\e92c"
icon-bell-blue = "\e92d"
icon-blin = "\e92e"
icon-bookmark-one = "\e92f"
icon-bookmark-one2 = "\e930"
icon-bookmark-one3 = "\e931"
icon-box-open = "\e932"
icon-button-path1 = "\e933"
icon-button-path2 = "\e934"
icon-calendar = "\e935"
icon-calendar-cute = "\e936"
icon-camera = "\e937"
icon-camera-blue = "\e938"
icon-car = "\e939"
icon-center-path1 = "\e93a"
icon-center-path2 = "\e93b"
icon-center-path3 = "\e93c"
icon-center-path4 = "\e93d"
icon-center-path5 = "\e93e"
icon-center-path6 = "\e93f"
icon-center-backup-path1 = "\e940"
icon-center-backup-path2 = "\e941"
icon-center-backup-path3 = "\e942"
icon-center-backup-path4 = "\e943"
icon-center-backup-path5 = "\e944"
icon-center-backup-path6 = "\e945"
icon-center-backup-path7 = "\e946"
icon-center-backup-path8 = "\e947"
icon-center-backup-path9 = "\e948"
icon-center-backup-path10 = "\e949"
icon-center-backup-path11 = "\e94a"
icon-center-backup-path12 = "\e94b"
icon-center-backup-path13 = "\e94c"
icon-center-backup-path14 = "\e94d"
icon-center-backup-path15 = "\e94e"
icon-center-backup-path16 = "\e94f"
icon-center-backup-path17 = "\e950"
icon-center-backup-path18 = "\e951"
icon-center-backup-path19 = "\e952"
icon-center-backup-path20 = "\e953"
icon-center-backup-path21 = "\e954"
icon-center-backup-path22 = "\e955"
icon-center-backup-path23 = "\e956"
icon-center-backup-path24 = "\e957"
icon-center-backup-path25 = "\e958"
icon-center-backup-path26 = "\e959"
icon-center-backup-path27 = "\e95a"
icon-center-enlarge-path1 = "\e95b"
icon-center-enlarge-path2 = "\e95c"
icon-center-enlarge-path3 = "\e95d"
icon-center-enlarge-path4 = "\e95e"
icon-center-enlarge-path5 = "\e95f"
icon-center-enlarge-path6 = "\e960"
icon-center-enlarge-backup-path1 = "\e961"
icon-center-enlarge-backup-path2 = "\e962"
icon-center-enlarge-backup-path3 = "\e963"
icon-center-enlarge-backup-path4 = "\e964"
icon-center-enlarge-backup-path5 = "\e965"
icon-center-enlarge-backup-path6 = "\e966"
icon-center-shrink-path1 = "\e967"
icon-center-shrink-path2 = "\e968"
icon-center-shrink-path3 = "\e969"
icon-chart = "\e96a"
icon-chart-bgu = "\e96b"
icon-chart-border-left-path1 = "\e96c"
icon-chart-border-left-path2 = "\e96d"
icon-chart-border-left-path3 = "\e96e"
icon-chart-border-left-path4 = "\e96f"
icon-chart-border-left-path5 = "\e970"
icon-chart-border-left-path6 = "\e971"
icon-chart-border-left-path7 = "\e972"
icon-chart-border-left-path8 = "\e973"
icon-chart-border-left-path9 = "\e974"
icon-chart-border-left-path10 = "\e975"
icon-chart-border-left-path11 = "\e976"
icon-chart-border-left-path12 = "\e977"
icon-chart-border-left-path13 = "\e978"
icon-chart-border-left-path14 = "\e979"
icon-chart-border-left-path15 = "\e97a"
icon-chart-border-left-path16 = "\e97b"
icon-chart-border-left-path17 = "\e97c"
icon-chart-border-left-path18 = "\e97d"
icon-chart-border-left-path19 = "\e97e"
icon-chart-border-left-path20 = "\e97f"
icon-chart-border-right-path1 = "\e980"
icon-chart-border-right-path2 = "\e981"
icon-chart-border-right-path3 = "\e982"
icon-chart-border-right-path4 = "\e983"
icon-chart-border-right-path5 = "\e984"
icon-chart-border-right-path6 = "\e985"
icon-chart-border-right-path7 = "\e986"
icon-chart-border-right-path8 = "\e987"
icon-chart-border-right-path9 = "\e988"
icon-chart-border-right-path10 = "\e989"
icon-chart-border-right-path11 = "\e98a"
icon-chart-border-right-path12 = "\e98b"
icon-chart-border-right-path13 = "\e98c"
icon-chart-border-right-path14 = "\e98d"
icon-chart-border-right-path15 = "\e98e"
icon-chart-border-right-path16 = "\e98f"
icon-chart-border-right-path17 = "\e990"
icon-chart-border-right-path18 = "\e991"
icon-chart-border-right-path19 = "\e992"
icon-chart-border-right-path20 = "\e993"
icon-chart-Case = "\e994"
icon-chart-CXK = "\e995"
icon-chart-Document = "\e996"
icon-chart-DZK = "\e997"
icon-chart-Entity = "\e998"
icon-chart-Event = "\e999"
icon-chart-FJK = "\e99a"
icon-chart-LDK = "\e99b"
icon-chart-line-left = "\e99c"
icon-chart-line-right = "\e99d"
icon-chart-magic-bottom = "\e99e"
icon-chart-Org = "\e99f"
icon-chart-path2-Entity-path1 = "\e9a0"
icon-chart-path2-Entity-path2 = "\e9a1"
icon-chart-Place = "\e9a2"
icon-chart-QYK = "\e9a3"
icon-chart-QZJK = "\e9a4"
icon-chart-RYK = "\e9a5"
icon-chart-Thing = "\e9a6"
icon-chart-WPPK = "\e9a7"
icon-chart-WQK = "\e9a8"
icon-chart-XNK = "\e9a9"
icon-check-circle-o = "\e9aa"
icon-check-circle-o-blue = "\e9ab"
icon-check-square-o = "\e9ac"
icon-chevron-down = "\e9ad"
icon-chevron-down-blue = "\e9ae"
icon-chevron-left-blue = "\e9af"
icon-chevron-right-blue = "\e9b0"
icon-circle = "\e9b1"
icon-circle-layout = "\e9b2"
icon-circle-layout-blue = "\e9b3"
icon-circle-o = "\e9b4"
icon-circle-o-blue = "\e9b5"
icon-close-circle-blue = "\e9b6"
icon-clothes = "\e9b7"
icon-clothes-blue = "\e9b8"
icon-cog = "\e9b9"
icon-cog-blue = "\e9ba"
icon-company = "\e9bb"
icon-credit = "\e9bc"
icon-credit-card = "\e9bd"
icon-credit-card-alt = "\e9be"
icon-crime = "\e9bf"
icon-dashboard = "\e9c0"
icon-dashboard-btn = "\e9c1"
icon-dashboard-set-btn = "\e9c2"
icon-dashed = "\e9c3"
icon-dataset = "\e9c4"
icon-debit-card = "\e9c5"
icon-delete = "\e9c6"
icon-delete-blue = "\e9c7"
icon-deposit = "\e9c8"
icon-difference-set = "\e9c9"
icon-difference-set-blue = "\e9ca"
icon-document = "\e9cb"
icon-document-white = "\e9cc"
icon-dot-circle = "\e9cd"
icon-earth = "\e9ce"
icon-earth-blue = "\e9cf"
icon-edit = "\e9d0"
icon-edit-blue = "\e9d1"
icon-ellipsis-h-path1 = "\e9d2"
icon-ellipsis-h-path2 = "\e9d3"
icon-entity-white = "\e9d4"
icon-event = "\e9d5"
icon-event_node = "\e9d6"
icon-exclamation-circle-blue = "\e9d7"
icon-exclamation-circle-o = "\e9d8"
icon-exclamation-circle-o-blue = "\e9d9"
icon-export = "\e9da"
icon-export-blue = "\e9db"
icon-eye = "\e9dc"
icon-eye-blue = "\e9dd"
icon-eye-circle = "\e9de"
icon-eye-circle-blue = "\e9df"
icon-eye-slash = "\e9e0"
icon-eye-slash-blue = "\e9e1"
icon-figure-map = "\e9e2"
icon-filter = "\e9e3"
icon-filter-blue = "\e9e4"
icon-folder = "\e9e5"
icon-folder-open = "\e9e6"
icon-folder-open-blue = "\e9e7"
icon-folder-open-o-blue = "\e9e8"
icon-frequency = "\e9e9"
icon-fullscreen = "\e9ea"
icon-fullscreen-blue = "\e9eb"
icon-gis-button-path1 = "\e9ec"
icon-gis-button-path2 = "\e9ed"
icon-gis-button-path3 = "\e9ee"
icon-gis-button-path4 = "\e9ef"
icon-gis-button-path5 = "\e9f0"
icon-group-layout = "\e9f1"
icon-group-layout-blue = "\e9f2"
icon-guarantee = "\e9f3"
icon-headphoto-path1 = "\e9f4"
icon-headphoto-path2 = "\e9f5"
icon-hierarchical-layout = "\e9f6"
icon-hierarchical-layout-blue = "\e9f7"
icon-hollow-circle = "\e9f8"
icon-homeicon = "\e9f9"
icon-homeicon-blue = "\e9fa"
icon-hospital = "\e9fb"
icon-hotel = "\e9fc"
icon-import = "\e9fd"
icon-import1 = "\e9fe"
icon-import1-blue = "\e9ff"
icon-import-blue = "\ea00"
icon-index-btn-path1 = "\ea01"
icon-index-btn-path2 = "\ea02"
icon-index-btn-path3 = "\ea03"
icon-index-searchbox = "\ea04"
icon-intersection = "\ea05"
icon-intersection-blue = "\ea06"
icon-ligature = "\ea07"
icon-ligature-blue = "\ea08"
icon-line = "\ea09"
icon-line-chart = "\ea0a"
icon-linechart-blue = "\ea0b"
icon-line-color = "\ea0c"
icon-line-color-blue = "\ea0d"
icon-line-style = "\ea0e"
icon-line-style-blue = "\ea0f"
icon-line-thickness = "\ea10"
icon-line-thickness-blue = "\ea11"
icon-loan = "\ea12"
icon-login-unlock = "\ea13"
icon-login-user-o = "\ea14"
icon-logo-path1 = "\ea15"
icon-logo-path2 = "\ea16"
icon-logo-path3 = "\ea17"
icon-man = "\ea18"
icon-map-marker-click = "\ea19"
icon-map-marker-hover = "\ea1a"
icon-map-marker-move = "\ea1b"
icon-map-setting-head = "\ea1c"
icon-map-setting-head-blue = "\ea1d"
icon-mark = "\ea1e"
icon-mark-blue = "\ea1f"
icon-marker = "\ea20"
icon-mark-yellow = "\ea21"
icon-memorandum = "\ea22"
icon-memorandum-blue = "\ea23"
icon-menubg = "\ea24"
icon-message = "\ea25"
icon-network-topology = "\ea26"
icon-network-topology-blue = "\ea27"
icon-noblin-path1 = "\ea28"
icon-noblin-path2 = "\ea29"
icon-nodot-circle-o = "\ea2a"
icon-notfind = "\ea2b"
icon-online-shopping = "\ea2c"
icon-people-move = "\ea2d"
icon-people-move-blue = "\ea2e"
icon-phone-path1 = "\ea2f"
icon-phone-path2 = "\ea30"
icon-pie-chart = "\ea31"
icon-pie-chart-blue = "\ea32"
icon-PLACE = "\ea33"
icon-plane = "\ea34"
icon-police-accommodation = "\ea35"
icon-police-car = "\ea36"
icon-police-plane = "\ea37"
icon-police-surface = "\ea38"
icon-police-traffic = "\ea39"
icon-police-train = "\ea3a"
icon-polygon-o = "\ea3b"
icon-polyline = "\ea3c"
icon-power-off = "\ea3d"
icon-power-off-blue = "\ea3e"
icon-pro = "\ea3f"
icon-property-frame-left-path1 = "\ea40"
icon-property-frame-left-path2 = "\ea41"
icon-property-frame-left-path3 = "\ea42"
icon-property-frame-left-path4 = "\ea43"
icon-property-frame-right-path1 = "\ea44"
icon-property-frame-right-path2 = "\ea45"
icon-property-frame-right-path3 = "\ea46"
icon-property-frame-right-path4 = "\ea47"
icon-property-frame-right-path5 = "\ea48"
icon-property-frame-right-path6 = "\ea49"
icon-pull-down = "\ea4a"
icon-pull-up = "\ea4b"
icon-QQ = "\ea4c"
icon-QQ-group = "\ea4d"
icon-quit = "\ea4e"
icon-quit-blue = "\ea4f"
icon-refresh = "\ea50"
icon-refresh-blue = "\ea51"
icon-related-file = "\ea52"
icon-related-file-white = "\ea53"
icon-relation-map = "\ea54"
icon-relation-map-blue = "\ea55"
icon-remittance = "\ea56"
icon-repeat = "\ea57"
icon-repeat-blue = "\ea58"
icon-replay = "\ea59"
icon-replay-blue = "\ea5a"
icon-ring-path1 = "\ea5b"
icon-ring-path2 = "\ea5c"
icon-ring-path3 = "\ea5d"
icon-ring-path4 = "\ea5e"
icon-ring-path5 = "\ea5f"
icon-ring-path6 = "\ea60"
icon-ring-path7 = "\ea61"
icon-ring-path8 = "\ea62"
icon-save = "\ea63"
icon-save1 = "\ea64"
icon-save1-blue = "\ea65"
icon-school = "\ea66"
icon-search = "\ea67"
icon-search-blue = "\ea68"
icon-search-file = "\ea69"
icon-search-gray = "\ea6a"
icon-searchlist = "\ea6b"
icon-searchlist-blue = "\ea6c"
icon-send = "\ea6d"
icon-send-blue = "\ea6e"
icon-setup = "\ea6f"
icon-setup-blue = "\ea70"
icon-share-square-o = "\ea71"
icon-share-square-o-blue = "\ea72"
icon-square-layout = "\ea73"
icon-square-layout-blue = "\ea74"
icon-square-o = "\ea75"
icon-square-o-big = "\ea76"
icon-square-o-big-blue = "\ea77"
icon-square-o-blue = "\ea78"
icon-star-yellow = "\ea79"
icon-stroke-count-path1 = "\ea7a"
icon-stroke-count-path2 = "\ea7b"
icon-stroke-count-path3 = "\ea7c"
icon-stroke-count-path4 = "\ea7d"
icon-stroke-count-path5 = "\ea7e"
icon-table = "\ea7f"
icon-table-chart-blue = "\ea80"
icon-talk-ring = "\ea81"
icon-th-large = "\ea82"
icon-th-large-blue = "\ea83"
icon-thumbnailbig = "\ea84"
icon-thumbnailsmall = "\ea85"
icon-thumb-tack = "\ea86"
icon-thumb-tack-blue = "\ea87"
icon-timeline-layout = "\ea88"
icon-timeline-layout-blue = "\ea89"
icon-title-block-path1 = "\ea8a"
icon-title-block-path2 = "\ea8b"
icon-title-block-path3 = "\ea8c"
icon-title-block-path4 = "\ea8d"
icon-title-block-path5 = "\ea8e"
icon-title-block-path6 = "\ea8f"
icon-title-block-left = "\ea90"
icon-title-block-right = "\ea91"
icon-toolbox = "\ea92"
icon-toolbox-blue = "\ea93"
icon-topo-arrow = "\ea94"
icon-topology = "\ea95"
icon-train = "\ea96"
icon-transfer = "\ea97"
icon-trash-o = "\ea98"
icon-trash-o-blue = "\ea99"
icon-turn = "\ea9a"
icon-turn-blue = "\ea9b"
icon-type = "\ea9c"
icon-union = "\ea9d"
icon-union-blue = "\ea9e"
icon-user-circle = "\ea9f"
icon-user-circle-blue = "\eaa0"
icon-v-circle = "\eaa1"
icon-v-clircle-blue = "\eaa2"
icon-virtualarrows = "\eaa3"
icon-warning-bell = "\eaa4"
icon-warning-bell-blue = "\eaa5"
icon-warning-filter = "\eaa6"
icon-watermarklogo-path1 = "\eaa7"
icon-watermarklogo-path2 = "\eaa8"
icon-watermarklogo-path3 = "\eaa9"
icon-WEIBO = "\eaaa"
icon-weixin = "\eaab"
icon-weixin-group = "\eaac"
icon-woman = "\eaad"

