@import "./variables.styl";
@import "./icon-variables.styl";

@font-face
  font-family 'magicube'
  src url(icomoon-font-path + '/magicube.eot?9mkb48')
  src url(icomoon-font-path + '/magicube.eot?9mkb48#iefix') format('embedded-opentype'), url(icomoon-font-path + '/magicube.ttf?9mkb48') format('truetype'), url(icomoon-font-path + '/magicube.woff?9mkb48') format('woff'), url(icomoon-font-path + '/magicube.svg?9mkb48#magicube') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'magicube' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-active-line
  &:before
    content icon-active-line  
    color #abaeb0
.icon-active-line-blue
  &:before
    content icon-active-line-blue  
    color #33d0ff
.icon-add
  &:before
    content icon-add  
    color #33d0ff
.icon-align-justify
  &:before
    content icon-align-justify  
    color #fff
.icon-align-justify-black
  &:before
    content icon-align-justify-black  
    color #31c8f6
.icon-amount
  &:before
    content icon-amount  
    color #ffd200
.icon-angle-double-right
  &:before
    content icon-angle-double-right
.icon-angle-up
  &:before
    content icon-angle-up  
    color #33d0ff
.icon-area-statistics
  &:before
    content icon-area-statistics  
    color #c2c5c7
.icon-area-statistics-blue
  &:before
    content icon-area-statistics-blue  
    color #33d0ff
.icon-around-bright .path1
  &:before
    content: icon-around-bright-path1  
    color rgb(51, 208, 255)  
    opacity 0.81
.icon-around-bright .path2
  &:before
    content: icon-around-bright-path2  
    margin-left -1em  
    color rgb(35, 166, 205)  
    opacity 0.81
.icon-around-bright .path3
  &:before
    content: icon-around-bright-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-around-bright-backup .path1
  &:before
    content: icon-around-bright-backup-path1  
    color rgb(116, 210, 232)
.icon-around-bright-backup .path2
  &:before
    content: icon-around-bright-backup-path2  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-around-bright-backup .path3
  &:before
    content: icon-around-bright-backup-path3  
    margin-left -1em  
    color rgb(140, 233, 255)
.icon-around-bright-selected .path1
  &:before
    content: icon-around-bright-selected-path1  
    color rgb(116, 210, 232)
.icon-around-bright-selected .path2
  &:before
    content: icon-around-bright-selected-path2  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-around-bright-selected .path3
  &:before
    content: icon-around-bright-selected-path3  
    margin-left -1em  
    color rgb(140, 233, 255)
.icon-around-dark .path1
  &:before
    content: icon-around-dark-path1  
    color rgb(87, 107, 124)  
    opacity 0.8
.icon-around-dark .path2
  &:before
    content: icon-around-dark-path2  
    margin-left -1em  
    color rgb(75, 91, 104)  
    opacity 0.8
.icon-around-dark .path3
  &:before
    content: icon-around-dark-path3  
    margin-left -1em  
    color rgb(87, 107, 124)
.icon-around-dark-backup .path1
  &:before
    content: icon-around-dark-backup-path1  
    color rgb(198, 198, 198)
.icon-around-dark-backup .path2
  &:before
    content: icon-around-dark-backup-path2  
    margin-left -1em  
    color rgb(245, 245, 245)
.icon-around-dark-backup .path3
  &:before
    content: icon-around-dark-backup-path3  
    margin-left -1em  
    color rgb(221, 221, 221)
.icon-around-dark-selected .path1
  &:before
    content: icon-around-dark-selected-path1  
    color rgb(198, 198, 198)
.icon-around-dark-selected .path2
  &:before
    content: icon-around-dark-selected-path2  
    margin-left -1em  
    color rgb(245, 245, 245)
.icon-around-dark-selected .path3
  &:before
    content: icon-around-dark-selected-path3  
    margin-left -1em  
    color rgb(221, 221, 221)
.icon-arrow_back
  &:before
    content icon-arrow_back  
    color #33d0ff
.icon-arrow-circle-down
  &:before
    content icon-arrow-circle-down  
    color #c2c5c7
.icon-arrow-circle-down-blue
  &:before
    content icon-arrow-circle-down-blue  
    color #33d0ff
.icon-arrow-circle-more .path1
  &:before
    content: icon-arrow-circle-more-path1  
    color rgb(51, 208, 255)
.icon-arrow-circle-more .path2
  &:before
    content: icon-arrow-circle-more-path2  
    margin-left -1em  
    color rgb(255, 255, 255)
.icon-arrow-circle-up
  &:before
    content icon-arrow-circle-up  
    color #c2c5c7
.icon-arrow-circle-up-blue
  &:before
    content icon-arrow-circle-up-blue  
    color #33d0ff
.icon-arrow-detail
  &:before
    content icon-arrow-detail  
    color #33d0ff
.icon-arrow-double-top
  &:before
    content icon-arrow-double-top  
    color #33d0ff
.icon-arrow-right
  &:before
    content icon-arrow-right  
    color #b4b4b4
.icon-arrows
  &:before
    content icon-arrows  
    color #c2c5c7
.icon-arrows-blue
  &:before
    content icon-arrows-blue  
    color #33d0ff
.icon-bank
  &:before
    content icon-bank  
    color #fff
.icon-bar-chart
  &:before
    content icon-bar-chart  
    color #c2c5c7
.icon-bar-chart-blue
  &:before
    content icon-bar-chart-blue  
    color #33d0ff
.icon-bayonet
  &:before
    content icon-bayonet  
    color #fff
.icon-bell
  &:before
    content icon-bell  
    color #fff
.icon-bell-blue
  &:before
    content icon-bell-blue  
    color #33d0ff
.icon-blin
  &:before
    content icon-blin  
    color #405261
.icon-bookmark-one
  &:before
    content icon-bookmark-one  
    color #f2251b
.icon-bookmark-one2
  &:before
    content icon-bookmark-one2  
    color #f87f13
.icon-bookmark-one3
  &:before
    content icon-bookmark-one3  
    color #efab18
.icon-box-open
  &:before
    content icon-box-open  
    color #33d0ff
.icon-button .path1
  &:before
    content: icon-button-path1  
    color rgb(30, 42, 51)  
    opacity 0.2
.icon-button .path2
  &:before
    content: icon-button-path2  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-calendar
  &:before
    content icon-calendar  
    color #c2c5c7
.icon-calendar-cute
  &:before
    content icon-calendar-cute  
    color #33d0ff
.icon-camera
  &:before
    content icon-camera  
    color #c2c5c7
.icon-camera-blue
  &:before
    content icon-camera-blue  
    color #33d0ff
.icon-car
  &:before
    content icon-car  
    color #fff
.icon-center .path1
  &:before
    content: icon-center-path1  
    color rgb(51, 208, 255)  
    opacity 0.81
.icon-center .path2
  &:before
    content: icon-center-path2  
    margin-left -1em  
    color rgb(35, 166, 205)  
    opacity 0.81
.icon-center .path3
  &:before
    content: icon-center-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center .path4
  &:before
    content: icon-center-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center .path5
  &:before
    content: icon-center-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center .path6
  &:before
    content: icon-center-path6  
    margin-left -1em  
    color rgb(0, 195, 255)
.icon-center-backup .path1
  &:before
    content: icon-center-backup-path1  
    color rgb(143, 224, 243)
.icon-center-backup .path2
  &:before
    content: icon-center-backup-path2  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path3
  &:before
    content: icon-center-backup-path3  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path4
  &:before
    content: icon-center-backup-path4  
    margin-left -1em  
    color rgb(143, 224, 243)
.icon-center-backup .path5
  &:before
    content: icon-center-backup-path5  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path6
  &:before
    content: icon-center-backup-path6  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path7
  &:before
    content: icon-center-backup-path7  
    margin-left -1em  
    color rgb(143, 224, 243)
.icon-center-backup .path8
  &:before
    content: icon-center-backup-path8  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path9
  &:before
    content: icon-center-backup-path9  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path10
  &:before
    content: icon-center-backup-path10  
    margin-left -1em  
    color rgb(143, 224, 243)
.icon-center-backup .path11
  &:before
    content: icon-center-backup-path11  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path12
  &:before
    content: icon-center-backup-path12  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path13
  &:before
    content: icon-center-backup-path13  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path14
  &:before
    content: icon-center-backup-path14  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path15
  &:before
    content: icon-center-backup-path15  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path16
  &:before
    content: icon-center-backup-path16  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path17
  &:before
    content: icon-center-backup-path17  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path18
  &:before
    content: icon-center-backup-path18  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path19
  &:before
    content: icon-center-backup-path19  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path20
  &:before
    content: icon-center-backup-path20  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path21
  &:before
    content: icon-center-backup-path21  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path22
  &:before
    content: icon-center-backup-path22  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-backup .path23
  &:before
    content: icon-center-backup-path23  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path24
  &:before
    content: icon-center-backup-path24  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path25
  &:before
    content: icon-center-backup-path25  
    margin-left -1em  
    color rgb(153, 232, 251)
.icon-center-backup .path26
  &:before
    content: icon-center-backup-path26  
    margin-left -1em  
    color rgb(64, 74, 81)
.icon-center-backup .path27
  &:before
    content: icon-center-backup-path27  
    margin-left -1em  
    color rgb(161, 237, 255)
.icon-center-enlarge .path1
  &:before
    content: icon-center-enlarge-path1  
    color rgb(51, 208, 255)  
    opacity 0.81
.icon-center-enlarge .path2
  &:before
    content: icon-center-enlarge-path2  
    margin-left -1em  
    color rgb(35, 166, 205)  
    opacity 0.81
.icon-center-enlarge .path3
  &:before
    content: icon-center-enlarge-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center-enlarge .path4
  &:before
    content: icon-center-enlarge-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center-enlarge .path5
  &:before
    content: icon-center-enlarge-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center-enlarge .path6
  &:before
    content: icon-center-enlarge-path6  
    margin-left -1em  
    color rgb(0, 195, 255)
.icon-center-enlarge-backup .path1
  &:before
    content: icon-center-enlarge-backup-path1  
    color rgb(51, 208, 255)  
    opacity 0.81
.icon-center-enlarge-backup .path2
  &:before
    content: icon-center-enlarge-backup-path2  
    margin-left -1em  
    color rgb(35, 166, 205)  
    opacity 0.81
.icon-center-enlarge-backup .path3
  &:before
    content: icon-center-enlarge-backup-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center-enlarge-backup .path4
  &:before
    content: icon-center-enlarge-backup-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center-enlarge-backup .path5
  &:before
    content: icon-center-enlarge-backup-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-center-enlarge-backup .path6
  &:before
    content: icon-center-enlarge-backup-path6  
    margin-left -1em  
    color rgb(0, 195, 255)
.icon-center-shrink .path1
  &:before
    content: icon-center-shrink-path1  
    color rgb(51, 208, 255)  
    opacity 0.81
.icon-center-shrink .path2
  &:before
    content: icon-center-shrink-path2  
    margin-left -1em  
    color rgb(35, 166, 205)  
    opacity 0.81
.icon-center-shrink .path3
  &:before
    content: icon-center-shrink-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart
  &:before
    content icon-chart  
    color #617483
.icon-chart-bgu
  &:before
    content icon-chart-bgu  
    color #fff
.icon-chart-border-left .path1
  &:before
    content: icon-chart-border-left-path1  
    color rgb(213, 7, 105)
.icon-chart-border-left .path2
  &:before
    content: icon-chart-border-left-path2  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path3
  &:before
    content: icon-chart-border-left-path3  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path4
  &:before
    content: icon-chart-border-left-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-left .path5
  &:before
    content: icon-chart-border-left-path5  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path6
  &:before
    content: icon-chart-border-left-path6  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path7
  &:before
    content: icon-chart-border-left-path7  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path8
  &:before
    content: icon-chart-border-left-path8  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-left .path9
  &:before
    content: icon-chart-border-left-path9  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path10
  &:before
    content: icon-chart-border-left-path10  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path11
  &:before
    content: icon-chart-border-left-path11  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path12
  &:before
    content: icon-chart-border-left-path12  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-left .path13
  &:before
    content: icon-chart-border-left-path13  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path14
  &:before
    content: icon-chart-border-left-path14  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path15
  &:before
    content: icon-chart-border-left-path15  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-left .path16
  &:before
    content: icon-chart-border-left-path16  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-left .path17
  &:before
    content: icon-chart-border-left-path17  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-left .path18
  &:before
    content: icon-chart-border-left-path18  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-left .path19
  &:before
    content: icon-chart-border-left-path19  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-left .path20
  &:before
    content: icon-chart-border-left-path20  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-right .path1
  &:before
    content: icon-chart-border-right-path1  
    color rgb(213, 7, 105)
.icon-chart-border-right .path2
  &:before
    content: icon-chart-border-right-path2  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path3
  &:before
    content: icon-chart-border-right-path3  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path4
  &:before
    content: icon-chart-border-right-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-right .path5
  &:before
    content: icon-chart-border-right-path5  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path6
  &:before
    content: icon-chart-border-right-path6  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path7
  &:before
    content: icon-chart-border-right-path7  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path8
  &:before
    content: icon-chart-border-right-path8  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-right .path9
  &:before
    content: icon-chart-border-right-path9  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path10
  &:before
    content: icon-chart-border-right-path10  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path11
  &:before
    content: icon-chart-border-right-path11  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path12
  &:before
    content: icon-chart-border-right-path12  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-right .path13
  &:before
    content: icon-chart-border-right-path13  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path14
  &:before
    content: icon-chart-border-right-path14  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path15
  &:before
    content: icon-chart-border-right-path15  
    margin-left -1em  
    color rgb(213, 7, 105)
.icon-chart-border-right .path16
  &:before
    content: icon-chart-border-right-path16  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-chart-border-right .path17
  &:before
    content: icon-chart-border-right-path17  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-right .path18
  &:before
    content: icon-chart-border-right-path18  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-right .path19
  &:before
    content: icon-chart-border-right-path19  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-border-right .path20
  &:before
    content: icon-chart-border-right-path20  
    margin-left -1em  
    color rgb(35, 88, 104)
.icon-chart-Case
  &:before
    content icon-chart-Case  
    color #c2c5c7
.icon-chart-CXK
  &:before
    content icon-chart-CXK  
    color #c2c5c7
.icon-chart-Document
  &:before
    content icon-chart-Document  
    color #c2c5c7
.icon-chart-DZK
  &:before
    content icon-chart-DZK  
    color #c2c5c7
.icon-chart-Entity
  &:before
    content icon-chart-Entity  
    color #c2c5c7
.icon-chart-Event
  &:before
    content icon-chart-Event  
    color #c2c5c7
.icon-chart-FJK
  &:before
    content icon-chart-FJK  
    color #c2c5c7
.icon-chart-LDK
  &:before
    content icon-chart-LDK  
    color #c2c5c7
.icon-chart-line-left
  &:before
    content icon-chart-line-left  
    color #33d0ff
.icon-chart-line-right
  &:before
    content icon-chart-line-right  
    color #33d0ff
.icon-chart-magic-bottom
  &:before
    content icon-chart-magic-bottom
.icon-chart-Org
  &:before
    content icon-chart-Org  
    color #c2c5c7
.icon-chart-path2-Entity .path1
  &:before
    content: icon-chart-path2-Entity-path1  
    color rgb(70, 78, 85)
.icon-chart-path2-Entity .path2
  &:before
    content: icon-chart-path2-Entity-path2  
    margin-left -1em  
    color rgb(37, 42, 45)
.icon-chart-Place
  &:before
    content icon-chart-Place  
    color #c2c5c7
.icon-chart-QYK
  &:before
    content icon-chart-QYK  
    color #c2c5c7
.icon-chart-QZJK
  &:before
    content icon-chart-QZJK  
    color #c2c5c7
.icon-chart-RYK
  &:before
    content icon-chart-RYK  
    color #c2c5c7
.icon-chart-Thing
  &:before
    content icon-chart-Thing  
    color #c2c5c7
.icon-chart-WPPK
  &:before
    content icon-chart-WPPK  
    color #c2c5c7
.icon-chart-WQK
  &:before
    content icon-chart-WQK  
    color #c2c5c7
.icon-chart-XNK
  &:before
    content icon-chart-XNK  
    color #c2c5c7
.icon-check-circle-o
  &:before
    content icon-check-circle-o  
    color #fff
.icon-check-circle-o-blue
  &:before
    content icon-check-circle-o-blue  
    color #33d0ff
.icon-check-square-o
  &:before
    content icon-check-square-o  
    color #33d0ff
.icon-chevron-down
  &:before
    content icon-chevron-down  
    color #fff
.icon-chevron-down-blue
  &:before
    content icon-chevron-down-blue  
    color #33d0ff
.icon-chevron-left-blue
  &:before
    content icon-chevron-left-blue  
    color #33d0ff
.icon-chevron-right-blue
  &:before
    content icon-chevron-right-blue  
    color #33d0ff
.icon-circle
  &:before
    content icon-circle  
    color #417ee3
.icon-circle-layout
  &:before
    content icon-circle-layout  
    color #c2c5c7
.icon-circle-layout-blue
  &:before
    content icon-circle-layout-blue  
    color #33d0ff
.icon-circle-o
  &:before
    content icon-circle-o  
    color #c2c5c7
.icon-circle-o-blue
  &:before
    content icon-circle-o-blue  
    color #33d0ff
.icon-close-circle-blue
  &:before
    content icon-close-circle-blue  
    color #33d0ff
.icon-clothes
  &:before
    content icon-clothes  
    color #fff
.icon-clothes-blue
  &:before
    content icon-clothes-blue  
    color #33d0ff
.icon-cog
  &:before
    content icon-cog  
    color #fff
.icon-cog-blue
  &:before
    content icon-cog-blue  
    color #33d0ff
.icon-company
  &:before
    content icon-company  
    color #fff
.icon-credit
  &:before
    content icon-credit  
    color #6caed5
.icon-credit-card
  &:before
    content icon-credit-card  
    color #4fe9d5
.icon-credit-card-alt
  &:before
    content icon-credit-card-alt  
    color #fff
.icon-crime
  &:before
    content icon-crime  
    color #fff
.icon-dashboard
  &:before
    content icon-dashboard  
    color #fff
.icon-dashboard-btn
  &:before
    content icon-dashboard-btn  
    color #fff
.icon-dashboard-set-btn
  &:before
    content icon-dashboard-set-btn  
    color #33d0ff
.icon-dashed
  &:before
    content icon-dashed  
    color #c2c5c7
.icon-dataset
  &:before
    content icon-dataset  
    color #c2c5c7
.icon-debit-card
  &:before
    content icon-debit-card  
    color #eb8081
.icon-delete
  &:before
    content icon-delete  
    color #c2c5c7
.icon-delete-blue
  &:before
    content icon-delete-blue  
    color #33d0ff
.icon-deposit
  &:before
    content icon-deposit  
    color #f2ae4c
.icon-difference-set
  &:before
    content icon-difference-set  
    color #c2c5c7
.icon-difference-set-blue
  &:before
    content icon-difference-set-blue  
    color #33d0ff
.icon-document
  &:before
    content icon-document  
    color #484e53
.icon-document-white
  &:before
    content icon-document-white  
    color #fff
.icon-dot-circle
  &:before
    content icon-dot-circle  
    color #33d0ff
.icon-earth
  &:before
    content icon-earth  
    color #617483
.icon-earth-blue
  &:before
    content icon-earth-blue  
    color #33d0ff
.icon-edit
  &:before
    content icon-edit  
    color #fff
.icon-edit-blue
  &:before
    content icon-edit-blue  
    color #33d0ff
.icon-ellipsis-h .path1
  &:before
    content: icon-ellipsis-h-path1  
    color rgb(74, 91, 106)
.icon-ellipsis-h .path2
  &:before
    content: icon-ellipsis-h-path2  
    margin-left -1em  
    color rgb(255, 255, 255)
.icon-entity-white
  &:before
    content icon-entity-white  
    color #fff
.icon-event
  &:before
    content icon-event  
    color #fff
.icon-event_node
  &:before
    content icon-event_node  
    color #33d0ff
.icon-exclamation-circle-blue
  &:before
    content icon-exclamation-circle-blue  
    color #33d0ff
.icon-exclamation-circle-o
  &:before
    content icon-exclamation-circle-o  
    color #fff
.icon-exclamation-circle-o-blue
  &:before
    content icon-exclamation-circle-o-blue  
    color #33d0ff
.icon-export
  &:before
    content icon-export  
    color #c2c5c7
.icon-export-blue
  &:before
    content icon-export-blue  
    color #33d0ff
.icon-eye
  &:before
    content icon-eye  
    color #c2c5c7
.icon-eye-blue
  &:before
    content icon-eye-blue  
    color #33d0ff
.icon-eye-circle
  &:before
    content icon-eye-circle  
    color #6d7c88
.icon-eye-circle-blue
  &:before
    content icon-eye-circle-blue  
    color #32c6f3
.icon-eye-slash
  &:before
    content icon-eye-slash  
    color #6d7c88
.icon-eye-slash-blue
  &:before
    content icon-eye-slash-blue  
    color #32c6f3
.icon-figure-map
  &:before
    content icon-figure-map
.icon-filter
  &:before
    content icon-filter  
    color #c2c5c7
.icon-filter-blue
  &:before
    content icon-filter-blue  
    color #33d0ff
.icon-folder
  &:before
    content icon-folder  
    color #c2c5c7
.icon-folder-open
  &:before
    content icon-folder-open  
    color #c2c5c7
.icon-folder-open-blue
  &:before
    content icon-folder-open-blue  
    color #33d0ff
.icon-folder-open-o-blue
  &:before
    content icon-folder-open-o-blue  
    color #33d0ff
.icon-frequency
  &:before
    content icon-frequency  
    color #4fe8d4
.icon-fullscreen
  &:before
    content icon-fullscreen  
    color #c2c5c7
.icon-fullscreen-blue
  &:before
    content icon-fullscreen-blue  
    color #33d0ff
.icon-gis-button .path1
  &:before
    content: icon-gis-button-path1  
    color rgb(30, 42, 51)
.icon-gis-button .path2
  &:before
    content: icon-gis-button-path2  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-gis-button .path3
  &:before
    content: icon-gis-button-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-gis-button .path4
  &:before
    content: icon-gis-button-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-gis-button .path5
  &:before
    content: icon-gis-button-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-group-layout
  &:before
    content icon-group-layout  
    color #c2c5c7
.icon-group-layout-blue
  &:before
    content icon-group-layout-blue  
    color #33d0ff
.icon-guarantee
  &:before
    content icon-guarantee  
    color #fff
.icon-headphoto .path1
  &:before
    content: icon-headphoto-path1  
    color rgb(24, 33, 39)
.icon-headphoto .path2
  &:before
    content: icon-headphoto-path2  
    margin-left -1em  
    color rgb(71, 88, 101)
.icon-hierarchical-layout
  &:before
    content icon-hierarchical-layout  
    color #c2c5c7
.icon-hierarchical-layout-blue
  &:before
    content icon-hierarchical-layout-blue  
    color #33d0ff
.icon-hollow-circle
  &:before
    content icon-hollow-circle
.icon-homeicon
  &:before
    content icon-homeicon  
    color #617483
.icon-homeicon-blue
  &:before
    content icon-homeicon-blue  
    color #33d0ff
.icon-hospital
  &:before
    content icon-hospital  
    color #fff
.icon-hotel
  &:before
    content icon-hotel  
    color #fff
.icon-import
  &:before
    content icon-import  
    color #c2c5c7
.icon-import1
  &:before
    content icon-import1  
    color #5c6063
.icon-import1-blue
  &:before
    content icon-import1-blue  
    color #33d0ff
.icon-import-blue
  &:before
    content icon-import-blue  
    color #33d0ff
.icon-index-btn .path1
  &:before
    content: icon-index-btn-path1  
    color rgb(54, 210, 255)
.icon-index-btn .path2
  &:before
    content: icon-index-btn-path2  
    margin-left -1em  
    color rgb(54, 210, 255)
.icon-index-btn .path3
  &:before
    content: icon-index-btn-path3  
    margin-left -1em  
    color rgb(54, 210, 255)  
    opacity 0.42
.icon-index-searchbox
  &:before
    content icon-index-searchbox  
    color #33d0ff
.icon-intersection
  &:before
    content icon-intersection  
    color #c2c5c7
.icon-intersection-blue
  &:before
    content icon-intersection-blue  
    color #33d0ff
.icon-ligature
  &:before
    content icon-ligature  
    color #c2c5c7
.icon-ligature-blue
  &:before
    content icon-ligature-blue  
    color #33d0ff
.icon-line
  &:before
    content icon-line
.icon-line-chart
  &:before
    content icon-line-chart  
    color #c2c5c7
.icon-linechart-blue
  &:before
    content icon-linechart-blue  
    color #33d0ff
.icon-line-color
  &:before
    content icon-line-color  
    color #c2c5c7
.icon-line-color-blue
  &:before
    content icon-line-color-blue  
    color #33d0ff
.icon-line-style
  &:before
    content icon-line-style  
    color #c2c5c7
.icon-line-style-blue
  &:before
    content icon-line-style-blue  
    color #33d0ff
.icon-line-thickness
  &:before
    content icon-line-thickness  
    color #c2c5c7
.icon-line-thickness-blue
  &:before
    content icon-line-thickness-blue  
    color #33d0ff
.icon-loan
  &:before
    content icon-loan  
    color #fff
.icon-login-unlock
  &:before
    content icon-login-unlock  
    color #fff
.icon-login-user-o
  &:before
    content icon-login-user-o  
    color #fff
.icon-logo .path1
  &:before
    content: icon-logo-path1  
    color rgb(255, 255, 255)
.icon-logo .path2
  &:before
    content: icon-logo-path2  
    margin-left -1em  
    color rgb(198, 198, 198)
.icon-logo .path3
  &:before
    content: icon-logo-path3  
    margin-left -1em  
    color rgb(198, 198, 198)
.icon-man
  &:before
    content icon-man  
    color #fff
.icon-map-marker-click
  &:before
    content icon-map-marker-click  
    color #ff270a
.icon-map-marker-hover
  &:before
    content icon-map-marker-hover  
    color #ffc62e
.icon-map-marker-move
  &:before
    content icon-map-marker-move  
    color #ff0
.icon-map-setting-head
  &:before
    content icon-map-setting-head  
    color #c2c5c7
.icon-map-setting-head-blue
  &:before
    content icon-map-setting-head-blue  
    color #33d0ff
.icon-mark
  &:before
    content icon-mark  
    color #c2c5c7
.icon-mark-blue
  &:before
    content icon-mark-blue  
    color #33d0ff
.icon-marker
  &:before
    content icon-marker  
    color #33d0ff
.icon-mark-yellow
  &:before
    content icon-mark-yellow  
    color #ff0
.icon-memorandum
  &:before
    content icon-memorandum  
    color #c2c5c7
.icon-memorandum-blue
  &:before
    content icon-memorandum-blue  
    color #33d0ff
.icon-menubg
  &:before
    content icon-menubg
.icon-message
  &:before
    content icon-message
.icon-network-topology
  &:before
    content icon-network-topology  
    color #c2c5c7
.icon-network-topology-blue
  &:before
    content icon-network-topology-blue  
    color #33d0ff
.icon-noblin .path1
  &:before
    content: icon-noblin-path1  
    color rgb(136, 227, 255)
.icon-noblin .path2
  &:before
    content: icon-noblin-path2  
    margin-left -1em  
    color rgb(19, 53, 71)
.icon-nodot-circle-o
  &:before
    content icon-nodot-circle-o  
    color #384855
.icon-notfind
  &:before
    content icon-notfind
.icon-online-shopping
  &:before
    content icon-online-shopping  
    color #fff
.icon-people-move
  &:before
    content icon-people-move  
    color #c2c5c7
.icon-people-move-blue
  &:before
    content icon-people-move-blue  
    color #33d0ff
.icon-phone .path1
  &:before
    content: icon-phone-path1  
    color rgb(37, 42, 45)
.icon-phone .path2
  &:before
    content: icon-phone-path2  
    margin-left -1em  
    color rgb(70, 78, 85)
.icon-pie-chart
  &:before
    content icon-pie-chart  
    color #c2c5c7
.icon-pie-chart-blue
  &:before
    content icon-pie-chart-blue  
    color #33d0ff
.icon-PLACE
  &:before
    content icon-PLACE  
    color #ffc62e
.icon-plane
  &:before
    content icon-plane  
    color #fff
.icon-police-accommodation
  &:before
    content icon-police-accommodation  
    color #fff
.icon-police-car
  &:before
    content icon-police-car  
    color #fff
.icon-police-plane
  &:before
    content icon-police-plane  
    color #fff
.icon-police-surface
  &:before
    content icon-police-surface  
    color #fff
.icon-police-traffic
  &:before
    content icon-police-traffic  
    color #fff
.icon-police-train
  &:before
    content icon-police-train  
    color #fff
.icon-polygon-o
  &:before
    content icon-polygon-o  
    color #c2c5c7
.icon-polyline
  &:before
    content icon-polyline  
    color #c2c5c7
.icon-power-off
  &:before
    content icon-power-off  
    color #fff
.icon-power-off-blue
  &:before
    content icon-power-off-blue  
    color #33d0ff
.icon-pro
  &:before
    content icon-pro  
    color #31f6e6
.icon-property-frame-left .path1
  &:before
    content: icon-property-frame-left-path1  
    color rgb(152, 231, 255)
.icon-property-frame-left .path2
  &:before
    content: icon-property-frame-left-path2  
    margin-left -1em  
    color rgb(152, 231, 255)
.icon-property-frame-left .path3
  &:before
    content: icon-property-frame-left-path3  
    margin-left -1em  
    color rgb(152, 231, 255)
.icon-property-frame-left .path4
  &:before
    content: icon-property-frame-left-path4  
    margin-left -1em  
    color rgb(135, 204, 225)
.icon-property-frame-right .path1
  &:before
    content: icon-property-frame-right-path1  
    color rgb(51, 208, 255)
.icon-property-frame-right .path2
  &:before
    content: icon-property-frame-right-path2  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-property-frame-right .path3
  &:before
    content: icon-property-frame-right-path3  
    margin-left -1em  
    color rgb(1, 221, 255)
.icon-property-frame-right .path4
  &:before
    content: icon-property-frame-right-path4  
    margin-left -1em  
    color rgb(1, 221, 255)
.icon-property-frame-right .path5
  &:before
    content: icon-property-frame-right-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-property-frame-right .path6
  &:before
    content: icon-property-frame-right-path6  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-pull-down
  &:before
    content icon-pull-down  
    color #30b7e1
.icon-pull-up
  &:before
    content icon-pull-up  
    color #30b7e1
.icon-QQ
  &:before
    content icon-QQ  
    color #fff
.icon-QQ-group
  &:before
    content icon-QQ-group  
    color #fff
.icon-quit
  &:before
    content icon-quit  
    color #c2c5c7
.icon-quit-blue
  &:before
    content icon-quit-blue  
    color #33d0ff
.icon-refresh
  &:before
    content icon-refresh  
    color #fff
.icon-refresh-blue
  &:before
    content icon-refresh-blue  
    color #33d0ff
.icon-related-file
  &:before
    content icon-related-file  
    color #484e53
.icon-related-file-white
  &:before
    content icon-related-file-white  
    color #fff
.icon-relation-map
  &:before
    content icon-relation-map  
    color #fff
.icon-relation-map-blue
  &:before
    content icon-relation-map-blue  
    color #33d0ff
.icon-remittance
  &:before
    content icon-remittance  
    color #fff
.icon-repeat
  &:before
    content icon-repeat  
    color #c2c5c7
.icon-repeat-blue
  &:before
    content icon-repeat-blue  
    color #33d0ff
.icon-replay
  &:before
    content icon-replay  
    color #c2c5c7
.icon-replay-blue
  &:before
    content icon-replay-blue  
    color #33d0ff
.icon-ring .path1
  &:before
    content: icon-ring-path1  
    color rgb(24, 29, 33)
.icon-ring .path2
  &:before
    content: icon-ring-path2  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-ring .path3
  &:before
    content: icon-ring-path3  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-ring .path4
  &:before
    content: icon-ring-path4  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-ring .path5
  &:before
    content: icon-ring-path5  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-ring .path6
  &:before
    content: icon-ring-path6  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-ring .path7
  &:before
    content: icon-ring-path7  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-ring .path8
  &:before
    content: icon-ring-path8  
    margin-left -1em  
    color rgb(43, 184, 226)
.icon-save
  &:before
    content icon-save  
    color #33d0ff
.icon-save1
  &:before
    content icon-save1  
    color #c2c5c7
.icon-save1-blue
  &:before
    content icon-save1-blue  
    color #33d0ff
.icon-school
  &:before
    content icon-school  
    color #fff
.icon-search
  &:before
    content icon-search  
    color #c2c5c7
.icon-search-blue
  &:before
    content icon-search-blue  
    color #33d0ff
.icon-search-file
  &:before
    content icon-search-file
.icon-search-gray
  &:before
    content icon-search-gray  
    color #a7bbcb
.icon-searchlist
  &:before
    content icon-searchlist  
    color #617483
.icon-searchlist-blue
  &:before
    content icon-searchlist-blue  
    color #33d0ff
.icon-send
  &:before
    content icon-send  
    color #c2c5c7
.icon-send-blue
  &:before
    content icon-send-blue  
    color #33d0ff
.icon-setup
  &:before
    content icon-setup  
    color #c2c5c7
.icon-setup-blue
  &:before
    content icon-setup-blue  
    color #33d0ff
.icon-share-square-o
  &:before
    content icon-share-square-o  
    color #c2c5c7
.icon-share-square-o-blue
  &:before
    content icon-share-square-o-blue  
    color #33d0ff
.icon-square-layout
  &:before
    content icon-square-layout  
    color #c2c5c7
.icon-square-layout-blue
  &:before
    content icon-square-layout-blue  
    color #33d0ff
.icon-square-o
  &:before
    content icon-square-o  
    color #c2c5c7
.icon-square-o-big
  &:before
    content icon-square-o-big  
    color #c2c5c7
.icon-square-o-big-blue
  &:before
    content icon-square-o-big-blue  
    color #33d0ff
.icon-square-o-blue
  &:before
    content icon-square-o-blue  
    color #33d0ff
.icon-star-yellow
  &:before
    content icon-star-yellow  
    color #ff0
.icon-stroke-count .path1
  &:before
    content: icon-stroke-count-path1  
    color rgb(51, 208, 255)
.icon-stroke-count .path2
  &:before
    content: icon-stroke-count-path2  
    margin-left -1em  
    color rgb(24, 29, 33)
.icon-stroke-count .path3
  &:before
    content: icon-stroke-count-path3  
    margin-left -1em  
    color rgb(24, 29, 33)
.icon-stroke-count .path4
  &:before
    content: icon-stroke-count-path4  
    margin-left -1em  
    color rgb(24, 29, 33)
.icon-stroke-count .path5
  &:before
    content: icon-stroke-count-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-table
  &:before
    content icon-table  
    color #c2c5c7
.icon-table-chart-blue
  &:before
    content icon-table-chart-blue  
    color #33d0ff
.icon-talk-ring
  &:before
    content icon-talk-ring  
    color #fff
.icon-th-large
  &:before
    content icon-th-large  
    color #617483
.icon-th-large-blue
  &:before
    content icon-th-large-blue  
    color #33d0ff
.icon-thumbnailbig
  &:before
    content icon-thumbnailbig  
    color #22cfff
.icon-thumbnailsmall
  &:before
    content icon-thumbnailsmall  
    color #33d0ff
.icon-thumb-tack
  &:before
    content icon-thumb-tack  
    color #c2c5c7
.icon-thumb-tack-blue
  &:before
    content icon-thumb-tack-blue  
    color #33d0ff
.icon-timeline-layout
  &:before
    content icon-timeline-layout  
    color #c2c5c7
.icon-timeline-layout-blue
  &:before
    content icon-timeline-layout-blue  
    color #33d0ff
.icon-title-block .path1
  &:before
    content: icon-title-block-path1  
    color rgb(60, 70, 76)
.icon-title-block .path2
  &:before
    content: icon-title-block-path2  
    margin-left -1em  
    color rgb(60, 70, 76)
.icon-title-block .path3
  &:before
    content: icon-title-block-path3  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-title-block .path4
  &:before
    content: icon-title-block-path4  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-title-block .path5
  &:before
    content: icon-title-block-path5  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-title-block .path6
  &:before
    content: icon-title-block-path6  
    margin-left -1em  
    color rgb(51, 208, 255)
.icon-title-block-left
  &:before
    content icon-title-block-left  
    color #228bc7
.icon-title-block-right
  &:before
    content icon-title-block-right  
    color #228bc7
.icon-toolbox
  &:before
    content icon-toolbox  
    color #c2c5c7
.icon-toolbox-blue
  &:before
    content icon-toolbox-blue  
    color #33d0ff
.icon-topo-arrow
  &:before
    content icon-topo-arrow
.icon-topology
  &:before
    content icon-topology  
    color #33d0ff
.icon-train
  &:before
    content icon-train  
    color #fff
.icon-transfer
  &:before
    content icon-transfer  
    color #fff
.icon-trash-o
  &:before
    content icon-trash-o  
    color #c2c5c7
.icon-trash-o-blue
  &:before
    content icon-trash-o-blue  
    color #33d0ff
.icon-turn
  &:before
    content icon-turn  
    color #c2c5c7
.icon-turn-blue
  &:before
    content icon-turn-blue  
    color #33d0ff
.icon-type
  &:before
    content icon-type  
    color #ff5e60
.icon-union
  &:before
    content icon-union  
    color #c2c5c7
.icon-union-blue
  &:before
    content icon-union-blue  
    color #33d0ff
.icon-user-circle
  &:before
    content icon-user-circle  
    color #fff
.icon-user-circle-blue
  &:before
    content icon-user-circle-blue  
    color #33d0ff
.icon-v-circle
  &:before
    content icon-v-circle  
    color #fff
.icon-v-clircle-blue
  &:before
    content icon-v-clircle-blue  
    color #33d0ff
.icon-virtualarrows
  &:before
    content icon-virtualarrows  
    color #445563
.icon-warning-bell
  &:before
    content icon-warning-bell  
    color #c2c5c7
.icon-warning-bell-blue
  &:before
    content icon-warning-bell-blue  
    color #33d0ff
.icon-warning-filter
  &:before
    content icon-warning-filter  
    color #fff
.icon-watermarklogo .path1
  &:before
    content: icon-watermarklogo-path1  
    color rgb(37, 46, 51)
.icon-watermarklogo .path2
  &:before
    content: icon-watermarklogo-path2  
    margin-left -1em  
    color rgb(24, 34, 40)
.icon-watermarklogo .path3
  &:before
    content: icon-watermarklogo-path3  
    margin-left -1em  
    color rgb(24, 34, 40)
.icon-WEIBO
  &:before
    content icon-WEIBO  
    color #fff
.icon-weixin
  &:before
    content icon-weixin  
    color #fff
.icon-weixin-group
  &:before
    content icon-weixin-group  
    color #fff
.icon-woman
  &:before
    content icon-woman  
    color #fff

