/****base color****/
$WHITE 											= #ffffff;
$WHITE-F2 										= #f8f8f2;
$WHITE-44 										= #444;
$BLUE 											= #33d0ff;
$BLUE-F6 										= #31c8f6;
$BLUE-CD 										= #23a6cd;
$BLUE-E8 										= #74d2e8;
$BLUE-FF 										= #a1edff;
$BLUE-9FF 										= #8ce9ff;
$BLUE-3FF 										= #00c3ff;
$BLUE-F3 										= #8fe0f3;
$BLUE-FB 										= #99e8fb;
$BLUE-E3 										= #417ee3;
$BLUE-6F3 										= #32c6f3;
$BLUE-2FF										= #36d2ff;
$BLUE-E3FF										= #88e3ff;
$BLUE-E6										= #31f6e6;
$BLUE-E1										= #30b7e1;
$BLUE-E2										= #2bb8e2;
$BLUE-FFF										= #22cfff;
$BLUE-BD										= #299abd;
$BLUE-6C										= #06c;
$BLUE-68                                        = #235868;
$BLUE-ca                                        = #3fa3ca;
$BLUE-c3                                        = #149bc3;
$YELLOW-WARNING                                 = #ffc000;
$YELLOW-MARK 	                                = #ffff00;
$YELLOW-18 	                                	= #efab18;
$YELLOW-2E 	                                	= #ffc62e;
$YELLOW-62 	                                	= #ffd862;
$YELLOW-5c                                      = #fff45c;
$GREEN 											= #a1f480;
$GREEN-0D 										= #3a930d;
$GREEN-00 										= #008a00;
$RED-1B 										= #f2251b;
$RED-0A 										= #ff270a;
$RED-00 										= #e60000;
$RED-4A 										= #F9384A;
$RED-69                                         = #D50769;
$RED-12                                         = #e60012
$PINK 											= #ff9798;
$ORANGE-13 										= #f87f13;
$ORANGE-0C 										= #ff780c;
$ORANGE-90 										= #f90;
$ORANGE-61                                      = #f58d61;
$GRAY 											= #c2c5c7;
$GRAY-C6 										= #c6c6c6;
$GRAY-B0 										= #abaeb0;
$GRAY-7C 										= #576b7c;
$GRAY-68 										= #4b5b68;
$GRAY-F5 										= #f5f5f5;
$GRAY-63 										= #5c6063;
$GRAY-DD 										= #dddddd;
$GRAY-B4 										= #b4b4b4;
$GRAY-61 										= #405261;
$GRAY-88 										= #6d7c88;
$GRAY-CB 										= #a7bbcb;
$GRAY-42 										= #293742;
$GRAY-50 										= #344450;
$GRAY-AB 										= #9fa6ab;
$GRAY-64 										= #525c64;
$GRAY-39 										= #273139;
$GRAY-71 										= #717171;
$GRAY-5A 										= #3b4c5a;
$GRAY-4D 										= #34424d;
$GRAY-66 										= #666666;
$GRAY-EB 										= #ebebeb;
$GRAY-D9 										= #D2D6D9;
$GRAY-C1 										= #a9b6c1;
$GRAY-764 										= #455764;
$GRAY-CC 										= #cccccc;
$GRAY-F0 										= #f0f0f0;
$GRAY-77 										= #777;
$PURPLE 										= #485676;
$PURPLE-c7 										= #5985c7;
$PURPLE-CE 										= #591ece;
$PURPLE-3F 										= #93f;
$BLACK 											= #000000;
$BLACK-33 										= #1e2a33;
$BLACK-51										= #404a51;
$BLACK-53										= #484e53;
$BLACK-83										= #617483;
$BLACK-64										= #4a5b6a;
$BLACK-27										= #182127;
$BLACK-65										= #475865;
$BLACK-47										= #133547;
$BLACK-55										= #384855;
$BLACK-2D										= #252a2d;
$BLACK-E55										= #464e55;
$BLACK-21										= #181d21;
$BLACK-63										= #445563;
$BLACK-E33										= #252e33;
$BLACK-28										= #182228;
$BLACK-1B 										= #13181b;
$BLACK-B33 										= #202b33;
$BLACK-13 										= #101113;
$BLACK-12 										= #101112;
$BLACK-19 										= #121619;
$BLACK-24 										= #1d2124;
$BLACK-32 										= #292e32;
$BLACK-30 										= #303030;
$BLACK-2E 										= #20282e;
$BLACK-41 										= #263541;
$BLACK-2C 										= #23282c;
$BLACK-A32 										= #202a32;
$BLACK-34 										= #212b34;
$BLACK-21 										= #181b21;
$BLACK-3F 										= #2d383f;
$BLACK-1F 										= #23241f;
$BLACK-81B 										= #14181b;
$BLACK-4F 										= #34454f;
$BLACK-932 										= #1f2932;
$BLACK-232 										= #323232;
$BLACK-3A 										= #2d343a;
$BLACK-26                                       = #151f26;
$BLACK-5d                                       = #0e435d;
$BLACK-c3f                                      = #141c3f;
$BLACK-rgb27                                    = rgba(19, 24, 27, 0.5);
$WHITE-ef                                       = #efefef;
$GREY-4d                                        = #3e454d;
$GREY-c2                                        = #acb9c2;
$BLUE-b7                                        = #2896b7;
$BLUE-ad                                        = #2d8bad;
$GREY-2e                                        = #262b2e;
$BLUE-CFFF                                      = #33CFFF;
$BLUE-fe1                                       = #2fbfe1;
$GREY-d2                                        = #d2d2d2;
$BLUE-e4                                        = #16bde4;
$GREY-1f                                        = #15191f;
$GREY-1c                                        = #1c1c1c;
$GREY-d3                                        = #d3d3d3;
$RED-3c                                         = #e4393c;
$GREY-55                                        = #555;
$BLACK-02                                       = rgba(0, 0, 0, 0.2);
$BLACK-5e                                       = #41525e;
$BLUE-da                                       = #2da5da;
$BLUE-7a                                       = #27657a;
$BLACK-11                                       = #020511;
$GREY-38                                        = #2D3138;
$BLUE-82                                        = #207382;
$BLUE-63                                        = #2B5863;
$BLACK-22                                       = #191e22;
$BLUE-fe                                        = #50d6fe;
$GRAY-84                                        = #7d8184;
$BLUE-35                                        = #1d2d35;
$BLUE-f1                                        = #3098f1;

$BLACK-17                                       = #192127;
/**********************************基础色值对应表*****************************************/
/****font****/
$font-color 									= $font-color-base;
$font-color-highlight							= $font-color-highlight-blue;
$font-color-warning								= $font-color-highlight-yellow;
/****由于login,index页面在任何肤色下都为黑色，所以此处需要特别对其颜色进行定义,而不能使用通用颜色值****/
$font-index-color                               = $font-color-base;

/****body****/
$body-color-background							= $background-color-base;
$body-color-text								= $font-color-base;

//----------------------------------------------------------------
$font-color-base                                    = $WHITE;
$font-color-highlight-white                         = #ffffff; //深底色字体为浅色
$font-color-highlight-blue                          = $BLUE; //浅底色字体为深色
$font-color-highlight-yellow                        = #ffc000; //强调性字体为黄色

$background-color-base                              = #181b21;  //默认基础灰
$background-color-plus                              = #121619; //比基础背景色更深的颜色（多用在tab,菜单）
$background-color-grey                              = #202b33; //灰亮色基础背景色
$background-color-blue                              = $BLUE; //蓝色基础背景色
$background-color-yellow                            = #ffc000; //黄色基础背景色
$background-color-white                             = $WHITE; //白色背基础景色

$border-color-base                                  = #202b33;
$border-color-grey                                  = #293742; //更亮的边框色
$border-color-blue                                  = $BLUE;

$modal-background-color-base                        = #13181b; //模态框基础背景色

$shade-background-color                             = rgba(0, 0, 0, .4);

$table-odd-color-base                               = #151f26;
$table-even-color-base                              = $background-color-base;

$image-background-color                             = $background-color-grey;
/**********************************组件通用基础色值对应表*****************************************/
/****shade****/
$shade-color-background							= $shade-background-color;

/***alert****/ 
// 搜索、工作台、版本管理
$alert-color-background                  		= $modal-background-color-base;
$alert-color-icon                        		= $font-color-highlight-blue;
$alert-color-text                        		= $font-color-highlight-white;
$alert-border-color                      		= $border-color-grey;
$alert-border-bottom-color				 		= $border-color-base;
$alert-color-title						 		= $font-color-highlight-blue;

/****input****/
// 搜索、工作台、个人中心、版本管理
$input-color-text                        		= $GRAY-AB;
$input-color-background                  		= $background-color-grey;
$input-color-background-search                  = $BLACK-13;
$input-color-background-disabled         		= $BLACK-64;
$input-color-border                      		= $border-color-base;
$input-color-border-search						= $GRAY-39;
$input-color-border-outline					    = $border-color-blue;
$textarea-color-background						= $BLACK-1B;
$textarea-color-border-dashed					= $GRAY-71;
$input-searchlist-color-background 				= $BLACK-12;
$inpur-searchlist-color-border					= $GRAY-39;
$input-color-ounline							= $border-color-blue;
$input-color-header-search-background			= $GRAY-5A;
$inputBox-color-topology-search-background		= $BLACK-1B;
$input-color-topology-search-background			= $background-color-grey;
$input-color-login-border						= $PURPLE;
$input-color-background-editable                = #27333c;

/****button****/
// 搜索、工作台、版本管理
$button-color-text                       		= $WHITE; 
$button-color-background-default         		= $BLACK-1B;
$button-color-background-default-hover   		= $BLUE-BD;
$button-color-border-default 		     		= $BLUE;

$button-color-background-sure            		= $BLACK-1B;
$button-color-background-sure-hover      		= $BLUE-BD;
$button-color-border-sure 				 		= $BLUE;

$button-color-background-cancel          		= $BLACK-1B;
$button-color-background-cancel-hover    		= $BLACK-B33;
$button-color-border-cancel 			 		= $GRAY-4D;

$button-color-header-search-background			= $GRAY-5A;

/****tabs****/
// 搜索、工作台、个人中心、版本管理
$tabs-item-color-border                  		= $GRAY-39;
$tabs-item-vision-color-border                  = $BLACK-B33;
$tabs-item-color-border-active           		= $BLUE;
$tabs-item-color-border-top-active 		 		= $BLUE;
$tabs-item-color-text                    		= $WHITE; 
$tabs-item-color-text-acitve             		= $BLUE;
$tabs-item-color-background-default             = $BLACK-19;
$tabs-item-color-background-active              = $BLACK-19;
$tabs-item-color-background-option-active		= $BLACK-24;
$tabs-item-color-background-option       		= $background-color-base;
$tabs-item-color-background-detail		        = $BLACK-32;
$tabs-item-color-background-topo		        = $BLACK-B33;
$tabs-item-color-background-topo-active	        = $GRAY-42;

/****tag****/
// 搜索
$tag-color-background                         	= $BLACK-19;
$tag-color-text                               	= $WHITE; 
$tag-color-text-hover                         	= $BLUE;
$tag-color-border							  	= $BLACK-30;
$tag-color-border-hover						  	= $BLUE;

/****checkbox****/
// 搜索、工作台、个人中心、版本管理
$checkbox-color-label                           = $WHITE; 
$checkbox-color-checked 					    = $BLUE;
$checkbox-color-unchecked					    = $GRAY-71;
$checkbox-color-background					    = $BLACK-21;
$option-authority_tabel-background		        = $modal-background-color-base;

/****radio****/
// 工作台、版本管理
$radio-color-label                              = $WHITE; 
$radio-color-checked                            = $BLUE;
$radio-color-unchecked                          = $BLACK-55;  
$radio-color-background					        = $BLACK-21;

/****table****/
// 个人中心、版本管理
$table-color-background                      	= $BLACK-21;
$table-color-background-head					= $BLACK-2E;
$table-color-background-row-hover               = $BLACK-41;
$table-color-background-row-odd                 = $BLACK-26;
$table-color-background-row-even                = $BLACK-21;
$table-color-border-row                         = $BLACK-B33;
$table-color-border                             = $BLACK-2C;
$table-color-text								= $WHITE; 
$table-color-text-head							= $BLUE;  

/****select****/
// 搜索、详情、工作台、个人中心、版本管理
$select-alert-color-background					= $BLACK-21;
$select-alert-color-background-hover			= $GRAY-66;
$select-color-border							= $GRAY-71;
$select-color-text								= $WHITE; 
$select-color-text-hover						= $BLUE;
$select-color-background					    = $BLACK-B33;
$select-color-background-hover			        = $GRAY-66;
$select-personcenter-color-background			= $BLACK-21;
$select-personcenter-color-border				= $GRAY-42;

/****header****/
// 全部
$header-color-background 						= $GRAY-42;
$header-bg-from                                 = $header-color-background;
$header-bg-to                                   = $header-color-background;
$header-color-border							= $BLACK;
$header-color-icon								= $BLACK-83;
$header-color-icon-active						= $BLUE;
$header-color-text								= $WHITE; 
$header-color-admin								= $BLUE;
$totip-tool-color-background                    = $background-color-yellow;
$totip-tool-text-color                          = $BLACK;

/****pagination****/
// 搜索、版本管理
$pagination-color-background-active		        = $BLUE-E1;
$pagination-color-text-active			        = $WHITE; 
$pagination-color-background				    = $BLACK-34;
$pagination-color-text  					    = $GRAY-C1;
$pagination-color-border					    = $GRAY-39;

/****calendar****/
// 搜索、版本管理、个人中心
$calendar-color-background						= $BLACK-B33;
$calendar-color-border							= $GRAY-71;
$calendar-color-next-pre                        = $GRAY-66;
$calendar-td-hover-bg                           = #eaeaea;
$calendar-td-hover-color                        = $WHITE;
$calendar-td-disabled-bg                        = #f8f8f8;
$calendar-grid-selected-bg                      = #f2f2f2;

/****search history*****/
$his-font-color                                 = $BLUE;
$his-font-hover-color                           = $BLUE-CD;
$his-border-default-color                       = $GRAY-42;
$his-border-color                               = $BLACK-c3f;
$his-head-bottom-border                         = $BLACK-B33;
$his-bg-default-color                           = $BLACK-1B;
$his-bg-color                                   = $BLACK-rgb27;
$his-input-default-bg                           = $GRAY-5A;
$his-input-bg                                   = #162036;
$his-li-odd-default-bg                          = $BLACK-26;
$his-li-odd-bg                                  = rgba(21, 31, 38, 0.5);
$his-li-even-default-bg                         = $BLACK-21;
$his-li-even-bg                                 = rgba(24, 29, 33, 0.5);
$his-li-bottom-border                           = $BLACK-B33;
$his-li-time                                    = #fedd8d;
$his-record-color                               = $GRAY-84;

/****检索表达式匹配*****/
$exp-pane-bg                                    = $BLACK-B33;
$exp-li-bg-hover                                = $GRAY-66;

/****Search statistics*****/
$statis-detail-font-color                       = $BLUE;
$statis-detail-border                           = #0b71ad;
$statis-detail-bg                               = #010309;
$statis-detail-corner-border                    = #4eb1d0;
$statis-detail-corner-bg                        = #ffb208;

/****无犯罪证明审核按钮*****/
$audit-btn-bg                                   = #1e7296;
$audit-btn-corner-border                        = #20abfd;

/**********************************功能基础色值对应表*****************************************/
/****quill****/
//文档
$quill-editor-color-background-shadow           = rgba(0, 0, 0, 0.42);
$quill-editor-color-background-black			= $BLACK;
$quill-editor-color-background-red				= $RED-00;
$quill-editor-color-background-orange			= $ORANGE-90;
$quill-editor-color-background-yellow			= $YELLOW-MARK;
$quill-editor-color-background-green			= $GREEN-00;
$quill-editor-color-background-blue			    = $BLUE;
$quill-editor-color-background-purple			= $PURPLE-3F;

$quill-editor-color-text-white					= $WHITE; 
$quill-editor-color-text-red					= $RED-00;
$quill-editor-color-text-orange					= $ORANGE-90;
$quill-editor-color-text-yellow					= $YELLOW-MARK;
$quill-editor-color-text-green					= $GREEN-00;
$quill-editor-color-text-blue			    	= $BLUE-6C;
$quill-editor-color-text-purple					= $PURPLE-3F;

$quill-editor-ul-color-text						= $GRAY-77;
$quill-toolbar-btn-highlight-color-text			= $BLUE;
$quill-snow-stroke								= $WHITE; 
$quill-snow-fill								= $WHITE; 

$quill-editor-blockquote-color-border			= $GRAY-CC;
$quill-editor-code-color-background				= $GRAY-F0;
$quill-editor-pre-syntax-color-background		= $BLACK-1F;
$quill-editor-pre-syntax-color-text				= $WHITE-F2;
$quill-snow-picker-color-text					= $WHITE; 
$quill-snow-picker-options-color-background		= $BLACK-81B;
$quill-picker-label-color-text					= $GRAY-CC;
$quill-picker-label-color-fill					= $GRAY-CC;
$quill-picker-label-color-stroke				= $GRAY-CC;
$quill-picker-item-color-background-white		= $WHITE; 
$quill-picker-item-color-background-black		= $BLACK;
$quill-picker-item-hover-color-border			= $BLACK;
$quill-picker-item-select-color-text			= $BLUE;
$quill-picker-item-select-color-fill			= $BLUE;
$quill-picker-item-select-color-stroke			= $BLUE;
$quill-toolbar-snow-color-border				= $BLACK-4F;
$quill-toolbar-snow-color-background			= $BLACK-81B;
$quill-picker-options-color-box-shadow			= $BLACK-02;
$quill-picker-options-color-border				= $GRAY-CC;
$quill-picker-label-color-border				= $GRAY-CC;
$quill-tooltip-color-background					= $GRAY-CC;
$quill-tooltip-color-box-shadow					= $GRAY-DD;
$quill-tooltip-color-text						= $WHITE-44;
$quill-tooltip-input-color-border				= $GRAY-CC;
$quill-tooltip-action-color-border				= $GRAY-CC;
$quill-snow-a-color-text						= $BLUE;
$quill-container-snow-color-border				= $GRAY-CC;

/****chart****/
$chart-tab-color-background                     = $GRAY-42;
$chart-tab-color-background-active              = $BLUE;
$chart-tab-color-background-transition          = $BLACK-932;
$chart-failhint-color                           = $GRAY-71;
$chart-warn-color-text                          = $RED-4A;
$chart-tooltip-color-background                 = $BLACK-232;
$chart-axis-color-stroke                        = $BLACK-3A;
$chart-svgRectBg-color-background               = $GREY-38;
$chart-img-color                                = $BLUE;
$chart-menu-color-border                        = $RED-69;
$chart-menu-color-borderb                       = $BLUE-68;
$chart-img-circle-colora                        = $BLUE-82;
$chart-img-circle-colorb                        = $BLUE-63;
$chart-magic-color-border                       = $WHITE;
$chart-bggrandient-color                        = $BLACK-22;
$chart-bggrandient-colorb                       = $BLUE-fe;
$chart-magic-color-dashed                       = $GRAY-84;
$chart-alert-color-border                       = $BLUE-35;
$chart-magic-color-bgc1                         = #246D7B;
$chart-magic-color-bgc2                         = #2D5A64;
$chart-magic-color-bgc3                         = #364B52;
$chart-magic-color-bgc4                         = #3e3c3c;
$chart-magic-color-bgc5                         = #a2a4a5;
$chart-magic-color-bgc6                         = $BLACK;
$chart-magic-color-bgc7                         = #898d90;
$chart-magic-color-bgc8                         = #6d6d71;
$chart-magic-color-bgc9                         = #9faab5;
$chart-magic-color-bgc10                        = #23b0d6
$chart-silde-color-button-bgc                   = #282c2f;
$chart-svg-color-circle-bgc1                    = #2ea6de;
$chart-svg-color-circle-bgc2                    = $ORANGE-0C;
$chart-svg-color-circle-border1                 = #2ede7d;
$chart-svg-color-circle-border2                 = #ffff29;
$chart-color-background-row-odd                 = $BLACK-26;
$chart-stat-title-bg                            = $GRAY-42;
$chart-stat-title-color                         = $font-color-highlight-blue;

/****document****/
$document-color-font                            = $WHITE-ef;
$document-color-background                      = #15191f;
$document-tab-color-background                  = #34444f;
$document-color-border 							= $BLACK-21;
$document-color--text-border 				    = $BLACK-4F;

/****entity****/
$entity-splitline-color                         = $BLACK-32;
$entity-splitline-color-dashed                  = $GREY-4d;
$entity-color-text-special                      = $GREY-c2;
$enyity-color-section-border                    = #1a242b;
//实体标签
$entity-mark-bg = $background-color-grey;
$entity-mark-color = #ff7364;
$entity-mark-border = $border-color-blue;
$entity-mark-corner = #a0ebfd;

/****event****/
$event-color-text-hover                         = $BLUE-b7;
//$event-color-text-title                         = $BLUE-ad;
//$event-color-background                         = $BLACK-81B;
//$event-color-text-special                       = $GREY-2e;
$event-color-border-special                     = $BLACK-32;

/****dataset****/
$dataset-select-color-background                = $GRAY-66;
$dataset-color-border                           = $BLACK-34;
$dataset-color-border-hover                     = $BLUE;

/****searchlist****/
$searchlist-textarea-color-border               = $BLUE;//#38C6EC
$searchlist-button-paing-color-background       = $BLACK-34;
$searchlist-color-background-hover              = $GRAY-66;
$searchlist-color-text                          = $BLACK;
$searchlist-map-color-border                    = $GREY-d2;
$searchlist-map-color-text                      = $BLUE-e4;
$searchlist-area-color-background               = $GREY-1f;

// 模块-标签-功能-状态
$table-color-border-active                      = $border-color-blue;
$input-color-placeholder                        = $GRAY-71;
$background-color                               = $background-color-base;
$border-color                                   = $border-color-base;

/****gis****/
$gis-input-color-font                           = $GRAY-AB;
$gis-input-color-background                     = $BLACK-1B;
$gis-cancel-color-background-hover              = $BLACK-B33;
$gis-ensure-color-background-hover              = $BLUE-BD;
$gis-div-color-border                           = $GRAY-42;
$gis-p-color-font                               = $GRAY-AB;
$gis-h6-color-font                              = $BLUE;
$gis-search-color-font                          = $WHITE;
$gis-button-color-font                          = $WHITE-ef;
$gis-southSea-fill-color                        = $RED-4A;
$gis-background-color                           = $BLACK-21;
$gis-line-path-color                            = $BLACK-B33;
$gis-line-stroke-color                          = $BLACK;
$gis-line-border-color                          = $GRAY-71;
$gis-panel-border-color                         = $GRAY-66;
$gis-panel-hover-color                          = $BLUE-e4;
$gis-div-border-color                           = $BLACK-B33;
$gis-button-border-color                        = $BLACK-21;
$gis-select-one-background-color                = $GRAY-42;
$gis-select-two-background-color                = $GRAY-50;
$gis-select-result-background-color             = $BLACK-3F;
$gis-select-border-color                        = $BLACK-5e;
$gis-select-span-background-color               = $BLACK-34;
$gis-select-span-color                          = $GRAY-C1;
$gis-select-span-border-color                   = $GRAY-39;
$gis-select-title-font-color                    = $WHITE;
$gis-select-search-font-color                   = $WHITE;
$gis-select-icon-color                          = $BLACK-53;
$gis-select-input-background-color              = $BLACK-B33;
$gis-as-background-color                        = $WHITE;
$gis-as-foot-color                              = $BLACK-B33;
$gis_arc_over_fill_color                        = $BLUE-7a;
$gis_arc_over_stroke_color                      = $BLUE-da;
$gis_arc_out_fill_color                         = $BLACK-B33;
$gis_arc_out_stroke_color                       = $BLACK-11;
$gis_arc_circle_over_fill_color                 = $BLUE-da;
$gis_arc_circle_out_fill_color                  = $BLACK-11;
$gis_arc_text_color                             = $WHITE;
$gis-select-Type-color                          = #33C7F5;
$gis-noselect-Type-color                        = $WHITE;
$gis-select-result-background-color             = $BLACK-5e;
$gis-Tooltip-color                              = $YELLOW-MARK;
$hot-point-border                               = $BLUE;
$gis-$modal-background-color-base               = $modal-background-color-base;
/****dashboard****/
$dashboard-color-border                         = $BLUE-f1;

/****early warning****/
$warning-filter-btn-normal                   = $BLUE;
$warning-filter-btn-info                     = $YELLOW-5c;
$warning-filter-btn-warning                  = $ORANGE-61;
$warning-filter-btn-danger                   = $RED-12;
$warning-ring-border-danger                  = #6f283e;
$warning-ring-border-warning                 = #76785c;
$warning-ring-border-info                    = #768628;
$warning-no-data-color                       = $GRAY-DD;
$warning-font-color                          = $WHITE;
$warning-detail-icon-hover-color             = $BLUE;
$warning-detail-border-top                   = #246492;
$warning-menu-selected-border                = $BLACK-5d;
$warning-menu-selected-bg                    = $BLUE-ca;
$warning-pane-bg-from                        = #149bc3;
$warning-pane-bg-to                          = rgba(41, 104, 123, .09);
$warning-pane-corner-border                  = $BLUE;
$warning-pane-title-color                    = #2fbce7;
$warning-pane-item-from                      = rgba(36, 100, 146, 0.7);
$warning-pane-item-to                        = rgba(21, 39, 61, 0);
$warning-pane-detail-bg                      = rgba(36, 100, 146, .6);
$warning-pane-img-bg                         = $BLACK-02;

/****检索功能使用介绍****/
$instruction-font-color                      = $BLUE;
$instruction-font-hover-color                = $BLUE-CD;
$instruction-pane-bg                         = $BLACK-rgb27;
$instruction-pane-border                     = $BLACK-c3f;
$instruction-pane-title                      = $BLUE;
$instruction-pane-eg-color                   = #fedd8d;

/****用户搜索统计（表格展示）****/
$statis-table-font-color                      = $BLUE;
$statis-table-font-hover-color                = $BLUE-CD;
$statis-table-pane-border                     = $BLACK-c3f;
$statis-table-pane-bg                         = $BLACK-rgb27;
$statis-table-method-bg                      = $BLACK-2E;
$statis-table-method-border                   = $GRAY-39;
$statis-table-selected-method-border          = $BLUE;
$statis-table-td-border                       = $BLACK-2C;
$statis-table-td-bg                           = $BLACK-2E;

/**** 搜索页面 ****/
$searchlist-go-detail-color                   = $BLUE;
$searchlist-go-detail-before-color            = $BLUE;
$searchlist-map-background-color              = $BLACK;
$searchlist-wrapper-background-color          = $BLACK-B33;
$searchlist-wrapper-li-background-color       = $BLACK-26;
$searchlist-wrapper-li-hover-color            = $GRAY-66;
$searchlist-history-background-color          = $BLACK-1B;
$searchlist-history-li-odd-background-color   = $BLACK-26;
$searchlist-history-li-even-background-color  = $BLACK-21;
$searchlist-history-input-background-color    = $GRAY-5A;
$searchlist-history-bottom-color              = $BLACK-B33;

/**** 白名单 ****/
$wlm-table-body-odd-color                     = $table-odd-color-base;
$wlm-table-body-even-color                    = $table-even-color-base;
$wlm-AddBtn-background-color                  = $BLACK-1B;
$wlm-AddBtn-border-color                      = #33d0ff;
$wlm-AddPerson-border-color                   = #2b4850;
$wlm-input-color                              = $BLACK-B33;
$wlm-H4-border-color                          = #0c3354;
$wlm-idcard-errortip-color                    = $YELLOW-WARNING;
$wlm-style-checked-color                      = #d5dc7b;

/**** topology ****/
//$topology-red-background-color                      = #e9967a;
//$topology-red-color                                 = #f0f8ff;
//$topology-selected-background-color                 = #f08080;
$topology-line-fill                                 = #ccc;
$topology-line-stroke                               = #ccc;
$topology-pie-text-fill                             = $WHITE;
//$topology-marker-licensing-fill                     = green;
//$topology-path-link-licensing-stroke                = green;
$topology-path-dragline-stroke                      = #626b73;
$topology-resize-rect-stroke                        = #2da5da;
$topology-time_selected-fill                        = #2da5da;
$topology-time_axis-pathline-stroke                 = #6c7881;
$topology-timeline-axis-pathline-stroke             = #6c7881;
$topology-legend-background                         = yellow;
$topology-legend-box-shadow                         = #888;
$topology-path_width-text-color                     = #33d0ff;
$topology-findwayr_findway-color                    = #33c5f4;
$topology-findway12345-color                        = $WHITE;
$topology-line_boxr_line_box-background             = #717171;
$topology-screeDepth-border                         = #202b33;
$topology-screeDepth-background-color               = #13181b;
$topology-map_search_nodes_modalBox-background-color         = $WHITE;
$topology-map_search_nodes_modalBox-border                   = #dedede;
$topology-nodes_findmap_nodes_find-background-color = #2a3b46;
$topology-entityLable-color                         = #33c5f4;
$topology-startLable-color                          = #DDD;
$topology-startLable-backgroundcolor                = #202b33;
$topology-direact-color                             = #33c5f4;
$topology-custom_extend_sure-backgroundcolor        = #13181b;
$topology-custom_extend_sure-border                 = #299abd;
$topology-custom_extend_not-backgroundcolor         = #13181b;
$topology-custom_extend_not-border                  = #293742;
$topology-inputwaywitch-backgroundcolor             = #181D21;
$topology-snapShot-border                           = #293742;
$topology-customModel_more_modalBoxtableth-backgroundcolor   = #202b33;
$topology-customModel_more_modalBoxtableth-border            = #293742;
$topology-customModel_more_modalBoxtablethhover-color        = #33d0ff;
$topology-customModel_more_modalBoxtabletd-border            = #293742;
$topology-showList-backgroundcolor                  = #202b33;
$topology-obj_message-backgroundcolor               = #13181b;
$topology-model_name_input-color                    = #2b363d;
$input-model_name_input-background                  = #13181b;
$topology-rangeredfont-color                        = orangered;
$topology-trajectory_timep-backgroundcolor          = #20282e;
$topology-trajectory_timecompare-backgroundcolor    = #20282e;
$topology-trajectory_item_box_left-border           = #20282e;
$topology-trajectory_item_left-backgroundcolor      = #20282e;
$topology-triangle_border-borderColor               = #20282e;
$topology-dot_border-backgroundcolor                = #20282e;
$topology-trajectory_item_box_right-borderLeft      = #20282e;
$topology-trajectory_item_border                    = $WHITE;
$topology-trajectory_item_right-backgroundcolor     = #20282e;
$topology-dot_border-backgroundcolor                = #20282e;
$topology-toolsTitle-backgroundcolor                = #202a33;
$topology-relate_detail_hide-backgroundcolor        = $WHITE;
$topology-map_search_shade-backgroundcolor          = #000;
$topology-links-detail-backgroundcolor              = #181b21;
$topology-links-detail-border                       = #293742;
$topology-showLinkList-backgroundcolor              = #293742;
$topology-timeline-layout-backgroundcolor           = #181b21;
$topology-timeLineFilter-borderLeft                 = #6c7881;
$topology-timeLineFilter-borderTop                  = #6c7881;
$topology-titleFilter-color                         = #33d0ff;
$topology-choseDirection-color                      = #33c5f4;
$topology-choseDirectionP-color                     = $WHITE;
$topology-mindmap_pane-backgroundcolor              = #000;
$topology-g_labels-text-fill                        = $WHITE;
$topology-virtual_search_reslut_modalBoxvirtual_filter_reslut_modalBox_color           = #33d0ff;
$topology-virtualSystemIn-color                     = $WHITE;
$topology-virtualSystemIn-backgroundcolor           = #13181b;
$topology-virtualSystemIn-border                    = #202b33;
$topology-errorMsg-color                            = red;
$topology-notFound-color                            = #33d0ff;
$topology-selectedLi-border                         = #33d0ff;
$topology-noSelectedLi-border                     = #293742;
$topo-color-border                                  = $BLACK-B33;
$topo-label-color-text                              = $GREY-d3;
$topo-shade-color-background                        = $shade-color-background;
$topo-rect-extent                                   = #2da5da;
$topo_relative_timeline-color-background 		    = $BLACK-21;
$topo-fill-color-inring 						    = #202b33;
$topo-stroke-color-inring 						    = #020511;
$topo-fill-color-inring-over    				    = #27657a;
$topo-fill-color-inring-enter					    = #2da5da;
$topo-fill-color-inring-onmenu 					    = #2da5da;
$topo-fill-color-outring 						    = #020511;
$topo-fill-color-outring-over    				    = #2da5da;
$topo-topology_message-backgroundColor              = $background-color-base;
$topo-topo_mapchartgis-backgroundColor              = $background-color-grey;
$topo-checksecrchtitle-backgroundColor              = $background-color-grey;
$topo-checksecrchtitle-color                        = $font-color-highlight-white;
$topo-topology_message_tabsLi-backgroundColor       = $background-color-grey;
$topo-topology_message_tabs-color                   = $font-color-highlight-blue;
$topo-buttontext-color                              = $font-color-base;
$topo-tipBoxsListPathColl-backgroundColor           = $BLACK-A32;
$topoMessage-button-color-background                = $font-color-highlight-blue;
$topoMessage-tab-color-border                       = $border-color-grey;
$topo-toolsBar-background                           = $background-color-base;
$topo-toolsBar-border                               = $BLACK-A32;
$topo-hovertab-color-text-hover                     = $font-color-highlight-blue;
$topo-hovertab-color-text                           = $GRAY-EB;
$topo-hovertab-color-background                     = $BLACK-A32;
$topology-trajectory_item_border_selected           = #33d0ff;
$icon-color-highlight                               = $font-color-highlight-white;

/**** topology思维导图 ****/
$mm-initial-circle-bgcolor                          = $BLUE;
$mm-final-circle-bgcolor                            = #7c8996;
$mm-circle-font-color                               = $WHITE;
$mm-btn-bgcolor                                     = $BLUE;
$mm-initial-btn-bgcolor                             = transparent;
$mm-initial-path-color                              = $BLUE;
$mm-final-path-color                                = #7c8996;
$mm-tooltip-bgcolor                                 = $BLACK-1B;
$mm-tooltip-border-color                            = #2b3843;
$mm-tooltip-font-color                              = $BLUE;
$mm-coarrow_final-color                             = $WHITE;

/****图标默认覆盖色 ****/
$chart-org                                          = $WHITE;
$chart-person                                       = $WHITE;
$chart-place                                        = $WHITE;
$chart-case                                         = $WHITE;
$document-white                                     = $WHITE;
$entity-white                                       = $WHITE;
$event                                              = $WHITE;

/****dashboard ****/
$dashboard-color-backaground                        = rgba(24, 27, 33, 0.84);
$dashboard-color-tooltip-background                 = #2a4d71;
$dashboard-color-tooltip-border                     = #326baf;
$dashboard-color-svg-axis                           = #668792;
$dashboard-gis-click-color                          = #ffc000;
$dashboard-color-svg-backaground                    = rgba(24, 27, 33, 0.7);
$dashboard-color-background-gis                     = #23272f;
$dashboard-color-shadow-box                         = #2c3135;
$dashboard-color-shadow-box-gis                     = #17191b;
$dashboard-color-AnimationText                      = $BLACK;
$dashboard-color-text                               = #668792;
$dashboard-color-AnimationCircleA                   = #fff;
$dashboard-color-AnimationCircleB                   = rgba(255, 255, 255, 0.2);
$dashboard-color-shadow-AnimationCircle             = #fff;

/****totip****/
// 工作台
$totip-content-color-background					    = $BLACK-21;
$totip-content-color-border                         = $border-color-blue;

/****tree****/
// 工作台
$tree-color-text-title							    = $GRAY-D9;
$tree-color-bar-hide							    = $GRAY;

/****topo-toolbar****/
// 工作台
$toolbar-color-background						    = $background-color-base;
$toolbar-color-border							    = $BLACK-A32;
$toolbar-color-border-bottom					    = $GRAY-764;