<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <!-- <link id="theme" class='theme' title="white" rel="stylesheet" type="text/css" href="css/white/index.css" disabled="disabled"/>
    <link id="theme" class='theme' title="blue" rel="stylesheet" type="text/css" href="css/blue/index.css" disabled="disabled"/>
    <link id="theme" class='theme' title="brown" rel="stylesheet" type="text/css" href="css/brown/index.css" disabled="disabled"/>
    -->

		<link rel="stylesheet/less" type="text/css" href="style.less" />
		<script src="less.js"></script>
	</head>
	<body>
		
		<div id="div-theme" data-theme="blue"> 哈哈哈 </div>
		
    <ul id="styles">
      <li class="div-f" id="white" data-type="white">经典</li>
      <li class="div-f" id="blue" data-type="blue">淡蓝</li>
      <li class="div-f" id="brown" data-type="brown">棕色</li>
    </ul>

		<script src="../../assets/jquery-3.3.1.min.js"></script>
		<script>less.watch();</script>
		<script>
			console.log('22')
			$(".div-f").off('click').on('click',function(){
				localStorage.setItem("aaa",$(this).attr("data-type"));
			})
		  /* $("#styles li").click(function(){
		    var style = $(this).attr("id");
       //css/white/theme.css
        new_href = "css/"+style+"/index.css";//形成新路径
        $("#theme").attr("href",new_href);//赋给<link>标签的href
      }); */
      


      /* $("#styles li").click(function(){
        var style = $(this).attr("id");
        $("link[class='theme'][title='"+style+"']").removeAttr("disabled");
        $("link[class='theme'][title!='"+style+"']").attr("disabled","disabled");
       
      });

			//页面初始加载时候的颜色
      console.log($("link[class='theme'][title='white']"))
      let cookie_style = "white";
      if(cookie_style==null){
        $("link[class='theme'][title='white']").removeAttr("disabled");
      }else{
        $("link[class='theme'][title='"+cookie_style+"']").removeAttr("disabled");
        $("link[class='theme'][title!='"+cookie_style+"']").attr("disabled","disabled");
      } */
          
		
			
		 
		
		
		</script>
		
		
		
	</body>
</html>
