@import "../public/component";
@import "../public/laydate";
@import "table";

.datas_box {
  padding: 20px;
}

.clearFloat:after {
  display: block;
  content: '';
  clear: both;
}

.datas_box_titles {
  margin-bottom: 20px;
}

#datas_tab_titles {
  float: left;
  display: flex;
  width: 234px;
  height: 35px;
}

.datas_tab_title {
  flex: 1;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
}

.datas_tab_title div {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.datas_tab_title_item {
  border: 1px solid $tabs-item-vision-color-border;
  color: $tabs-item-color-text;
}

.datas_tab_title_item_active {
  border: 1px solid $tabs-item-color-border-active;
  color: $tabs-item-color-text-acitve;
}

.datas_all_operate {
  display: flex;
  align-items: center;
  width: 0;
  height: 35px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;
  transition: width 0.6s;
}

.datas_all_operate_hide {
  width: 0;
}

.datas_all_operate_show {
  width: 80px;
}

.datas_all_operate span {
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}

.datas_all_operate span:hover:before {
  color: $icon-color-highlight;
}

.datas_search_filter {
  float: right;
  display: flex;
}

.datas_search_filter_box {
  position: relative;
  //flex: 1;
  width: 193px;
  height: 35px;
  margin: 0 10px;
  background: $input-color-background;
}

.datas_search_filter_box > input {
  width: 193px;
  height: 35px;
  background: transparent;
  font-size: 14px;
  color: $input-color-text;
  text-indent: 8px;
  border: 1px solid $input-color-border;
  cursor: pointer;
}

.datas_search_filter_box > span {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
}

/* 分页 */
.slds-button-group {
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0);
}

.slds-button {
  font-size: 12px;
  font-weight: 700;
  background: $pagination-color-background;
  color: $pagination-color-text;
  border: 1px $pagination-color-border solid;
}

.slds-button:focus {
  outline: 0;
  box-shadow: none;
}

.slds-button:hover {
  background: $pagination-color-background;
  color: $pagination-color-text;
  border: 1px $pagination-color-border solid;
}

//.slds-button--icon-border {
//  border: none;
//}

.slds-button--brand {
  background: $pagination-color-background-active;
  color: $pagination-color-text-active;
}

.slds-button--brand:hover,
.slds-button--brand:focus {
  background: $pagination-color-background-active;
  color: $pagination-color-text-active;
}

.slds-button-group .slds-button + .slds-button, .slds-button-group .slds-button + .slds-button--last .slds-button, .slds-button-group-list li + li .slds-button {
  margin-left: 0;
}

i.fa::selection, i.fa-angle-right::selection {
  background: $pagination-color-background-active;
  text-shadow: none;
  color: $pagination-color-text-active;
}

.fa-angle-left:before {
  content: "< 上一页";
}

.fa-angle-right:before {
  content: "下一页 >";
}

.slds-button-group > button:first-of-type, .slds-button-group > button:last-of-type {
  width: 70px;
}

.slds-button-group > button:first-of-type {
  margin-right: 10px;
}

.slds-button-group > button.slds-button:last-of-type {
  margin-left: 10px;
}

.return {
  position: absolute;
  bottom: 5.3%;
  left: 20px;
  width: 60px;
  height: 20px;
  line-height: 20px;
  padding-left: 6px;
  color: $font-color-highlight;
}

.return:hover {
  cursor: pointer;
}

.return span {
  font-size: 12px;
  margin-bottom: 2px;
  margin-right: 3px;
}

.pageTotal {
  position: absolute;
  bottom: 5.5%;
  right: 35%;
}