<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>客户违规画像</title>
  <link rel="stylesheet" href="../stylesheets/common/cube.min.css">
  <link rel="stylesheet" href="../stylesheets/common/base.css">
  <link rel="stylesheet" href="../stylesheets/portrayal-client.css">
</head>

<body>
  <div class="container">
    <div class="nav">
      <div class="nav-link">
        <p><span id="toViewClient">客户视角</span> > 客户违规画像</p>
      </div>
    </div>
    <div class="content">
      <div class="content-search">
        <label for="staffName">姓名：</label>
        <input type="text" name="" id="staffName" class="input search-condition" placeholder="请输入姓名">
        <label for="staffNumber">客户号：</label>
        <input type="text" name="" id="staffNumber" class="input search-condition" placeholder="请输入工号">
        <div id="client-search" class="round-btn search-btn">搜索</div>
      </div>
      <div class="content-result">
        <div class="result-top">
          <div class="left result-block result-block-topleft">
            <p class="fs-14 result-block-title">基本信息</p>
            <div class="result-block-details">
              <div class="result-block-people-img">

              </div>
              <div id="result-block-details-content" class="result-block-details-content">
                   <!-- js获取 -->
              </div>
            </div>
          </div>
          <div class="right result-block result-block-topright">
            <p class="fs-14 result-block-title">业务情况</p>
            <div class="result-block-details">
              <div id="result-block-credit" class="left w-33 h-100"></div> <!-- 授信  个人客户-存款  外币储蓄存款对公客户-存款  其他 -->
              <div id="result-block-personal" class="left w-33 h-100"></div>
              <div id="result-block-client" class="left w-33 h-100"></div>
              <!-- <div id="result-block-other" class="left w-25 h-100"></div> -->
            </div>
          </div>
        </div>
        <div class="result-bottom">
          <div class="left w-50 result-block result-block-bottomleft">
            <p class="fs-14 result-block-title">违规信息</p>
            <div id="rule-details" class="result-block-details">
               <!-- js获取 -->
            </div>
          </div>
          <div class="right w-50 result-block">
            <p class="fs-14 result-block-title">关联问题群</p>
            <div id="result-block-details" class="result-block-details"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../javascripts/common/jquery-2.1.0.min.js"></script>
  <script src="../javascripts/common/echarts.min.js" ></script>
  <script src="../javascripts/common/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="../javascripts/common/viewCommon.js"></script>
  <script src="../javascripts/portrayal-client.js"></script>
</body>

</html>