<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>机构视角</title>
	<link rel="stylesheet" href="../javascripts/common/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../stylesheets/common/jedate-6.5.0/skin/jedate.css">
	<link rel="stylesheet" href="../stylesheets/common/base.css">
	<link rel="stylesheet" href="../stylesheets/view-org/view-org.css" > </link>
  
	<script src="../javascripts/common/jquery-2.1.0.min.js" ></script>
	<script type="text/javascript" src="../javascripts/common/echarts.min.js" ></script>
	
</head>
<body>
	<nav class="org-nav"> </nav>
	<div class="nav">
		<div class="nav-wing-left left w-50 h-100"></div>
		<div class="nav-wing-right right w-50 h-100"></div>
		<ul class="nav-link">
			<li class="left"><a href="./view-org.html" class="right-nav-btn first active">机构视角</a></li>
			<li class="left"><a href="./view-business.html" class="right-nav-btn">业务视角</a></li>
			<li class="left"><a href="./view-client.html" class="right-nav-btn">客户视角</a></li>
			<li class="left"><a href="./view-staff.html" class="right-nav-btn last">员工视角</a></li>
		</ul>
	</div>
  <div class="org-base"> 
		<div class="search">
			<input id="js-date-start" class="input search-date" type="text" autocomplete="off">
			<span>至</span>
			<input id="js-date-end" class="input search-date" type="text" autocomplete="off">
			<div class="search-group">
				<input  id="js-search" class="input search-input" type="text" placeholder="请输入" autocomplete="off"/>
				<span id="searchBtn">
					<span class="search-icon"></span>
				</span>
			</div>
			<a id="js-month" class="round-btn">近一月</a>
			<a id="js-half-year" class="round-btn">近半年</a>
			<a id="js-year" class="round-btn">近一年</a>
		</div>
		<div id="org-map" class="org-content">
			
		</div>
		<!-- 右侧信息弹框 -->
		<div class="org-risk-overview-model">
			<div class="org-risk-overview-model-backImg"> </div>
			<div class="org-risk-overview-model-centerTopImg"> </div>
			<div class="org-risk-overview-model-centerBottomImg"> </div>
			<div class="org-risk-overview-model-base">
				<header class="model-header">未整改明细</header>
				<div class="model-close">x</div>
				<table class="model-table">
					<thead>
							<th style="width: 40px">序号</th>
							<th id="model-head-name" style="width: 80px">支行名称</th>
							<th id="model-head-type" style="width: 80px">数额</th>
					</thead>
					
					<tbody id="bodyBox"> 
					</tbody>
					
				</table>
			</div>	
		</div>
		<aside class="org-aside">
			<div class="org-risk-overview">
				<div class="org-risk-overview-baseMsg">
				
				</div>
				<div class="org-lineEchart-base-btn">
					<div id="org-lineEchart-money" class="org-lineEchart-btn org-lineEchart-btn-checked">问题金额</div>
					<div id="org-lineEchart-num" class="org-lineEchart-btn">问题个数</div>
				</div>
				<div id="org-risk-overview-chart" class="org-risk-overview-chart">

				</div>

			</div>
			<div class="org-problem-statistics">
					<header>分行问题排名</header>
					<div>
						<!-- <div id="org-problem-num" class="org-problem-number-btn org-problem-number-btn-checked">模型发现问题个数</div> -->
						<!-- <div id="org-runp-num" class="org-problem-runp-btn">模型跑批个数</div> -->
					</div>
					<div class="org-problem-statistics-list">
							<table class="org-problem-statistics-table">
								<thead>
										<th class="org-table-10">序号</th>
										<th class="org-table-20">机构</th>
										<th class="org-table-40"> </th>
										<th class="org-table-20"> </th>
										<th class="org-table-10">排名</th>
								</thead>
								
								<tbody>
									
								</tbody>
								
							</table>
					</div>
			</div>
		</aside>
	</div>
</body>
<script src="../javascripts/common/jedate.min.js"></script>
<script src="../javascripts/common/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../javascripts/common/viewCommon.js"></script>
<script type="text/javascript" src="../javascripts/view-org/view-org.js"></script>
</html>